<div class="table editor">
	<div class="row">
		<h4>Learn About Your Question Bank:</h4>
	</div>
	<!--
	<p>All Questions you add to ClassMarker are always stored here in your Question Bank.</p> 
	<p>This includes when adding Questions directly into your Tests, they are also stored here in your Question Bank.</p>
	This means:
	<ul>
		<li>Your Tests will always reference Questions from your Question Bank</li>
		<li>You can reuse your Questions across multiple Tests</li>
		<li>You can have Questions selected at random from your Question Bank each time a Test is started</li>
		<li>You can categorize your Questions to keep them organized and view statistics</li>
	</ul>-->

	<div class="row-no-border-bottom">
		<div class="col-span-1 col-btns"><h5>QUESTIONS:</h5></div>
		<div class="col-span-05">&nbsp;</div>
		<div class="col-span-8"><p>Are always stored here in your Question Bank</p></div>
	</div>
	
	<div class="row-no-border-bottom">
		<div class="col-span-1 col-btns"><h5>TESTS:</h5></div>
		<div class="col-span-05">&nbsp;</div>
		<div class="col-span-8"><p>Always reference Questions in your Question Bank</p></div>
	</div>
	
	<div class="row-no-border-bottom">
		<div class="col-span-1 col-btns"><h5>RANDOM:</h5></div>
		<div class="col-span-05">&nbsp;</div>
		<div class="col-span-8"><p>Tests can select Questions at random from your Question Bank each time a Test is started</p></div>
	</div>
	
	<div class="row-no-border-bottom">
		<div class="col-span-1 col-btns"><h5>CATEGORIZE:</h5></div>
		<div class="col-span-05">&nbsp;</div>
		<div class="col-span-8"><p>Categorize your Questions to keep them organized and view statistics</p></div>
	</div>
	
	<div class="row">
		<div class="col-span-4  hide ">&nbsp;</div>
		<div class="col-span-5  hide ">
			<a href="#" id="tog_show_qb_table" class="btn btn-create hideme ">Let's Get Started</a>
		</div>
	</div>
	
<!--<div class="row-no-border-bottom">
<a href="/online-testing/manual/#addnewquestions" class="popup">Learn more</a>
</div>-->
	
</div>