		<!-- CM TABLE TABs -->
		<!-- Tests QuestionBank Categories Files Certificates Community -->
		<ul class="cmtableTabs">
			<li class="taboff">
				<a href="/tests/">Tests</a>
			</li>
			<li class="tabon">
				<a href="/questions/">Question Bank</a>
			</li>
			<li class="taboff">
				<a href="/tests/categories/">Categories</a>
			</li>
			<li class="taboff">
				<a href="/tests/files/">Files</a>
			</li>
			<li class="taboff">
				<a href="/tests/certificates/">Certificates</a>
			</li>
			<li class="taboff">
				<a href="/tests/community/">Community</a>
			</li>
		</ul>