<h4>Test Completion</h4>
<div class="settings-box">
	<div class="accordion-toggle scroll_results setting-results-page closed">
		<h3 class="form-field-title">Results Page</h3>
		<div class="settings-status">
			<%if(edits=='0'){%>Yes,<%}else if(edits=='1'){if(setting.show_score_percentage=='0' || setting.show_score_points=='0'){%> Score, <%}}%>
			<%if(edits=='0'){%>Yes,<%}else if(edits=='1'){if(setting.show_test_feedback=='0'){%> Feedback, <%}}%> 
			<%if(edits=='0'){%>Yes<%}else if(edits=='1'){if(setting.show_answers=='0'){%> Questions <%}}%> .</div><div class="caret">&nbsp;</div>
	</div>
	<div class="accordion-fold">
		<div class="field-group leftpad"><strong>Upon completion Test takers can see:</strong></div>
		<div class="field-group">
			<span class="form-field-title not-input">Score:</span>
			<input type='hidden' name='settings[show_score_points]' value='1' id='ssp12'>
			<input type="checkbox" name="settings[show_score_points]" value="0" id="ssp"  <%if(edits=='0'){%>checked=true<%}else if(edits=='1'){if(setting.show_score_points=='0'){%> checked=true <%}}%>>
			<label for="ssp">Points</label>
			<span class="showTooltipHTML tooltip" title="Example:<br/> Points: 88 out of 100<br/><br/>Note:<br/>This setting applies to:<br/>1. Total points scored<br/>2. Points scored per Question<br/>3. Points scored per category ">Tip</span><br>
			<span class="tab">
				<input type='hidden' name='settings[show_score_percentage]' value='1' id='ssp22'>
				<input type="checkbox" name="settings[show_score_percentage]" value="0" id="ssp2"  <%if(edits=='0'){%>checked=true<%}else if(edits=='1'){if(setting.show_score_percentage=='0'){%> checked=true <%}}%> >
				<label for="ssp2">Percentage</label>
			</span>
			<span class="showTooltipHTML tooltip" title="Example:<br/> Percentage: 88%">Tip</span><br>
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Feedback:</span>
			<input type='hidden' name='settings[show_test_feedback]' value='1' id='stf2'>
			<input type="checkbox" name="settings[show_test_feedback]" value="0" id="stf" <%if(edits=='0'){%>checked=true<%}else if(edits=='1'){if(setting.show_test_feedback=='0'){%> checked=true <%}}%>>
			<label for="stf">Custom Feedback as set below</label> 
			<span class="showTooltip tooltip" title="Display custom Feedback you add below. Tip: You can hide Test takers scores but set a separate Pass and Fail Feedback message below instead.">Tip</span><br>
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Questions:</span>
			<input type='hidden' name='settings[show_answers]' value='1' id='gq2'>
			<input type="checkbox" name="settings[show_answers]" value="0" id="gq" <%if(edits=='0'){%>checked=true<%}else if(edits=='1'){if(setting.show_answers=='0'){%> checked=true <%}}%>>
			<label for="gq">Graded Questions</label> <span class="showTooltipHTML tooltip" title="Graded Questions will displayed for instant review.">Tip</span><br>
			<span class="tab">
				<input type='hidden' name='settings[show_correct_answers]' value='1' id='sca2_2'>
				<input class="sub-checkbox" type="checkbox" name="settings[show_correct_answers]" value="0" id="sca2_" <%if(edits=='0'){%>checked=true<%}else if(edits=='1'){if(setting.show_correct_answers=='0' && setting.show_answers=='0'){%> checked=true <%}}%>>
				<label for="sca2_">Reveal correct answers</label> <span class="showTooltipHTML tooltip" title="Correct answers will be revealed if answered incorrectly.">Tip</span>
			</span><br>
			<span class="tab">
				<input type='hidden' name='settings[display_all_questions_in_results]' value='1' id='daqin_2'>
				<input class="sub-checkbox" type="checkbox" name="settings[display_all_questions_in_results]" value="0" id="daqin_" <%if(edits=='0'){%><%}else if(edits=='1'){if(setting.display_all_questions_in_results=='0' && setting.show_answers=='0'){%> checked=true <%}}%> >
				<label for="daqin_">Display incorrect Questions only</label>
				<span class="showTooltip tooltip" title="Show only incorrectly answered Questions in Test results.">Tip</span>
			</span>
		</div>
		<!-- <div class="field-group">
			<span class="form-field-title not-input">Categories:</span>
			<input type="checkbox" name="settings[show_category_stats]" id="vr_8">
			<label for="vr_8"> <a class="little" href="javascript:alert('Upgraded accounts can display Category statistics to Test takers.')">Results by Category</a></label>
			<span class="showTooltip tooltip" title="Display the percentage correct from Question categories in the Test.">Tip</span>
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Certificate:</span>
			Link to Download Certificate always included when applicable.
			<span class="showTooltip tooltip" title="If a Test taker should receive a Certificate, the Link to download the Certificate will be automatically included on the Results page, even if you choose not to show Test takers their results.">Tip</span>
		</div> -->
	</div>
</div>
<a id="passmark"></a>
<div class="settings-box">
	<div class="accordion-toggle scroll_passmark setting-passmark closed">
		<h3 class="form-field-title">Pass Mark<br>Feedback</h3>
		<div class="settings-status"><%if(edits=='0'){%>No<%}else if(edits=='1'){if(setting.passmark!=''){%>Yes<%}else{%>No<%}}%><br><%if(edits=='0'){%>No<%}else if(edits=='1'){if(setting.passmarktext==""){%>No<%}else{%>Yes<%}}%></div>
		<div class="caret">&nbsp;</div>
		<div class="clear"></div>
	</div>
	<div class="delay_hide_sceditor accordion-fold" style="display: none;">
		<div class="field-group">
			<p class="tab">Pass Mark &amp; Feedback are optional</p>
			<label for="passmarkid" class="form-field-title">Pass Mark:</label>
			<input type="text" name="settings[passmark]" maxlength="3" size="3" id="passmarkid"  <%if(edits=='0'){%>value=""<%}else if(edits=='1'){if(setting.passmark!=''){%>value="<%=setting.passmark%>"<%}else{%>value=""<%}}%> > %
			<span class=" showTooltip tooltip" title="Set a pass mark for this Test. This setting is optional and should be left blank if no pass mark is required.">Tip</span>
		</div>
		<div class="field-group leftpad">
			<h5><label for="cf"><span id="pass_feedback_label">Test completed message</span></label></h5>
			<div class="edit_preview_cf">
				<textarea id="cf" class="editquestion fullBBcodeEditor preview_content" name="settings[passmarktext]" rows="3" cols="30" style="display: none;"><%if(edits=='0'){%><%}else if(edits=='1'){if(setting.passmarktext!=''){%><%=setting.passmarktext%><%}else{%><%}}%></textarea>
			</div>
			<div id="fail_feedback_div" class="delay_hide_sceditor" style="display: none;">
				<div class="clearheight"></div><hr>
				<h5><label for="ff">Test completed message: Show on fail</label></h5>
				<div class="edit_preview_ff">
					<textarea id="ff" class="editquestion fullBBcodeEditor preview_content" name="settings[failmarktext]" rows="3" cols="30" style="display: none;"><%if(edits=='0'){%><%}else if(edits=='1'){if(setting.failmarktext!=''){%><%=setting.failmarktext%><%}else{%><%}}%></textarea>
				</div>
			</div>
			<div class="clearheight"></div>
		</div>
	</div>
</div>
<!-- Webhook BLOCK-->
<!-- <div class="settings-box">
	<div class="accordion-toggle scroll_returnlink setting-return-link closed">
		<h3 class="form-field-title">Webhook</h3>
		<div class="settings-status">No</div><div class="caret">&nbsp;</div><div class="clear"></div>
	</div>
	<div class="accordion-fold">
		<div class="field-group littledark">
			<p class="tab">Only required when integrating ***** with your Website to have Test results sent back and saved on your Website in Real Time.</p>
			<p class="tab">View: <a href="/online-testing/api/webhooks/" class="popup">API &amp; Webhooks Documentation</a> to learn more.</p>
		</div>
		<div class="clearheight"></div>
		<div class="alert-box editor alert-confirmation  alert-center">
			<div class="clearheight10"></div>
			Webhooks allow Test results to be delivered to your website in real time.
			<div class="clearheight"></div>
		</div>
	</div>
</div> -->
<!-- Certificate BLOCK-->
<!-- <div class="settings-box">
	<a id="certificate_anchor"></a>
	<div class="accordion-toggle scroll_certificate setting-certificate closed">
		<h3 class="form-field-title">Certificate</h3>
		<div class="settings-status">No</div>
		<div class="caret">&nbsp;</div>
	</div>
	<div class="accordion-fold">
		<div class="clearheight"></div>
		<div class="alert-box editor alert-confirmation  alert-center">
		<div class="clearheight10"></div>
			This allows Test takers to download a Certificate on completion.
			<div class="clearheight"></div>
		</div>
	</div>
</div> -->
<input type="hidden" name="settings[email_results]" value="0">
<!-- ???????????^^^^^^^^^^^^^^^^^^^^^^^^^^^^?????????????? -->
		<a id="member_anchor"></a>
<!-- Email results BLOCK-->
<!-- <div class="settings-box">
	<div class="accordion-toggle scroll_email_teacher setting-email closed">
		<h3 class="form-field-title">Email Results</h3>
		<div class="settings-status">Instructor: No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Test taker: No</div>
		<div class="caret">&nbsp;</div>
	</div>
	<div class="accordion-fold">
		<div class="alert-box editor alert-confirmation  alert-center">
		<div class="clearheight10"></div>Have results emailed to Administrators, Assistants and Test takers.<div class="clearheight"></div>
		</div>
		<div class="field-group">
			<p class="tab"><strong>Instructor Email Settings</strong></p>
			<p class="tab">Email results to Instructor: <span class="bold " id="instructor_send_message">NO</span></p>
			<hr class="tab">
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Email settings:</span>
			<input type="radio" name="settings[instructor_email]" checked="checked" value="0" id="er_1"> <label for="er_1">Off</label>
			<br><span class="tab">
			<input type="radio" name="settings[instructor_email]" value="3" id="er_2"> <label for="er_2">Score</label></span>
			<br><span class="tab"><input type="radio" name="settings[instructor_email]" value="4" id="er_5"> <label for="er_5">Score, Categories</label></span>
			<br><span class="tab"><input type="radio" name="settings[instructor_email]" value="2" id="er_3"> <label for="er_3">Score, Categories, incorrectly answered Questions</label></span>
			<br><span class="tab"><input type="radio" name="settings[instructor_email]" value="1" id="er_4"> <label for="er_4">Score, Categories, all Questions</label></span>
		</div>
		<div class="field-group">
			<span class="form-field-title">Send to:</span><div><select name="settings[email_id_0]" id="email_id_0" class="email_dropdown_max_width"><option value="0" selected="selected">ilgar_mr@yahoo.com</option></select>&nbsp;&nbsp;&nbsp;<a href="#" id="minus_0" class="minus_symbol visibility_hidden">−</a>&nbsp;&nbsp;&nbsp;<a href="#" id="plus_0" class="plus_symbol">+</a></div>

		<script>
			$(document).ready(function() {
				var new_id = 100;//start with a high number to avoid collisions - and increment each time
				$(document).on('click', '[id^="plus_"]', function(e){
					e.preventDefault();
				    var num_drop_downs = $('[id^="email_id_"]').length;
					var clicked_id = Number(this.id.split('_')[1]);
					new_id = new_id + 1;
					if (num_drop_downs >= 1) {
					    /* Too many being selected, instead warn user */
						alert('You can add extra email addresses via your My Account / Assistants section.');
						return false;
					}
					// Increment num_drop_downs on page because we are adding one here
					var num_drop_downs = num_drop_downs+1;
					// Add a new drop down
					var plus_div = '<div class="email_list"><select id="email_id_' + new_id + '" name="email_id_' + new_id + '" class="email_dropdown_max_width">';
					plus_div += '<option value="0">ilgar_mr@yahoo.com</option>';
					plus_div += '</select>';
					// add a = and - by default, then remove plus is we are on last one
					plus_div += '&nbsp;&nbsp;&nbsp;<a href="#" id="minus_' + new_id + '" class="minus_symbol">&minus;</a>&nbsp;&nbsp;&nbsp;' +
					'<a href="#" id="plus_' + new_id + '" class="plus_symbol">&plus;</a></div>';
					// append new drop down, after last one
					$("#email_id_" + clicked_id).parent().after(plus_div);
					// remove all + signs,
					$('[id^="plus_"]').css('visibility', 'hidden');
					// Turn on all minus signs
					$('[id^="minus_"]').css('visibility', 'visible');
					// Add plus_ visibility to this new one if we can add more
					if (num_drop_downs < 1 && num_drop_downs < 4) {
						$("#plus_" + new_id).css('visibility', 'visible');
					}
					// rename form elements so we can use them when POSTED
					var new_name_reference = 0
					$('[id^="email_id_"]').each(function(){
					    $(this).attr('name', 'email_id_'+new_name_reference);
					    new_name_reference=new_name_reference+1;
					});
				});
				$(document).on('click', '[id^="minus_"]', function(e){
					e.preventDefault();
					var current_id = Number(this.id.split('_')[1]);
					// Delete one we just clicked minus for
					$("#email_id_" + current_id).parent().remove();
					var num_drop_downs = $('[id^="email_id_"]').length;
					if (num_drop_downs == 1){
					    // one on page, only show plus sign
					    $('[id^="minus_"]').css('visibility', 'hidden');
					    $('[id^="plus_"]').css('visibility', 'visible');
					} else {
					    // add plus sign in last one so we can add more
					    $('[id^="plus_"]').last().css('visibility', 'visible');
					}
					// rename form elements so we can use them when POSTED
					var new_name_reference = 0
					$('[id^="email_id_"]').each(function(){
					    $(this).attr('name', 'email_id_'+new_name_reference);
					    new_name_reference=new_name_reference+1;
					});
				});
            });
		</script>
		</div>
		<div class="tab littledark"><p><a class="showcont" href="#" id="tog_emailnrg"> Instructions</a></p></div>
		<div id="dotog_emailnrg" class="field-group tab littledark hide col-span-7 editor">
			<p> Maximum of 4 email addresses can be selected to send test results to. If you need to send to more recipients, we suggest creating 1 special email address to receive all Test results, then have that 1 email address "Forward" all emails it receives to as many recipients as you require.</p>
			<p><strong> Note:</strong> To have results emailed to you, you must also select to save results. This way you can also review your Test takers results and statistics in ClassMarker.</p>
			<p><strong> Add extra email addresses:</strong><br>You can create Assistants to send Test results to via the My Account / Assistants section.</p>
			<ol class="assign-settings-list">
				<li>Complete your Test settings and save below.</li>
				<li>Go to the <strong>My Account / Assistants </strong> section to first create an Assistant and verify the new email address.</li>
				<li>Then go back to your <strong>Group</strong> page to edit these settings.</li>
				<li>Select the new email address which will be displayed here and Save again.</li>
			</ol>
			<p><strong> What is included in emails?</strong></p>
			<ul class="assign-settings-list">
				<li><strong>Score:</strong> Points, Percentage, Duration, Date, Certificate Download Link, Feedback</li>
				<li><strong>Categories:</strong> Category Statistics from Questions</li>
				<li><strong>Incorrectly answered Questions:</strong> Will not include Correctly answered Questions.</li>
				<li><strong>All answered Questions:</strong> Will include all answered Questions.</li>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="clearheight5"></div>
		<hr>
		<div class="field-group">
			<p class="tab"><strong>Test Taker Email Settings</strong></p>
			<p class="tab">Email results to Test Takers: <span class="bold " id="email_student_results_message">NO</span>
	 		<span class="showTooltipHTML tooltip" title="Check at least one of the checkboxes in the following fields to activate:<br /><br />Score<br />Feedback<br />Questions<br />Categories<br />A Certificate download link will be included if a Certificate is set.">Tip</span>
	 		<span id="turnoff_emailstudents" class="little hide"><a href="#" id="turnoff_emailstudents_link">Turn off</a></span></p><hr class="tab">
		</div>
		<input type="checkbox" class="email_student_checkbox" name="settings[email_student]" id="email_student" value="0">  <label for="email_student_ssp">Email Students</label>
		<div class="clearheight"></div>
		<div class="field-group">
			<span class="form-field-title not-input">Score:</span>
			<input   type="checkbox" class="email_student_checkbox" name="settings[email_student_show_score_points]" value="0" id="email_student_ssp"> <label for="email_student_ssp">Points</label>
			<span class="showTooltipHTML tooltip" title="Example:<br/> Points: 88 out of 100<br/><br/>Note:<br/>This setting applies to:<br/>1. Total points scored<br/>2. Points scored per Question<br/>3. Points scored per category ">Tip</span><br>
			<span class="tab">
				<input   class="email_student_checkbox" type="checkbox" name="settings[email_student_show_score_percentage]" value="0" id="email_student_ssp2"> <label for="email_student_ssp2">Percentage</label>
				<span class="showTooltipHTML tooltip" title="Example:<br/> Percentage: 88%">Tip</span>
			</span>
			<br>
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Feedback:</span>
			<input   type="checkbox" class="email_student_checkbox" name="settings[email_student_show_test_feedback]" value="0" id="email_student_stf">
			<label for="email_student_stf">Custom Feedback as set above</label> <span class="showTooltip tooltip" title="Display custom Feedback you add above. Tip: You can hide Test takers scores but set a separate Pass and Fail Feedback message above instead.">Tip</span>
			<br>
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Questions:</span>
			<input   type="checkbox" class="email_student_checkbox" name="settings[email_student_show_answers]" value="0" id="email_student_gq">
			<label for="email_student_gq">Graded Questions</label> <span class="showTooltipHTML tooltip" title="Graded Questions will displayed for instant review.">Tip</span>
			<br>
			<span class="tab">
				<input   class="sub-checkbox email_student_checkbox" type="checkbox" name="settings[email_student_show_correct_answers]" value="0" id="email_student_sca2_">
				<label for="email_student_sca2_">Reveal correct answers</label> <span class="showTooltipHTML tooltip" title="Correct answers will be revealed if answered incorrectly.">Tip</span>
			</span>
			<br>
			<span class="tab">
				<input   class="sub-checkbox email_student_checkbox" type="checkbox" name="settings[email_student_show_incorrect_only]" value="0" id="email_student_daqin_"> <label for="email_student_daqin_">Display incorrect Questions only</label>
				<span class="showTooltip tooltip" title="Show only incorrectly answered Questions in Test results.">Tip</span>
			</span>
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Categories:</span>
			<input   type="checkbox" class="email_student_checkbox" name="settings[email_student_show_category_stats]" id="email_student_vr_8">
			<label for="email_student_vr_8">Results by category</label>
			<span class="showTooltip tooltip" title="Display the percentage correct from Question categories in the Test.">Tip</span>
		</div>
		<div class="field-group">
			<span class="form-field-title not-input">Certificate:</span>
			Link to Download Certificate always included when applicable.
			<span class="showTooltip tooltip" title="If a Test taker should receive a Certificate, the Link to download the Certificate will be automatically included in the Test results email. If you only want to send the Certificate link (not Test results) via Email, select the Option to send Custom Feedback (add your Custom Feedback above) and the Certificate download link will be included in the email as well.">Tip</span>
		</div>
		<div id="send_email_details_fields" class=""><hr class="tab">
			<div class="field-group">
				<label for="email_student_from" class="form-field-title">From:</label>
				<input   type="text" placeholder="Your Name or Organization" name="settings[email_student_from]" maxlength="50" size="30" id="email_student_from" value="">
				<span class="showTooltip tooltip" title="Displayed in the email 'From' field. eg: Your Name or Organizations Name.">Tip</span>
				<br>
				<label for="email_student_subject" class="form-field-title">Subject:</label>
				<input   type="text" placeholder="The Email Subject" name="settings[email_student_subject]" maxlength="78" size="30" id="email_student_subject" value="">
				<span class="showTooltip tooltip" title="Displayed in the email 'Subject' field.">Tip</span>
			</div>
			<div class="clearheight5"></div>
			<div class="field-group">
				<span class="form-field-title not-input">Send Emails:</span>
				<input   type="radio" title="Choose from one of the options" name="settings[email_student_send_type]" id="email_student_send_manual" value="manual">
				<label for="email_student_send_manual">Manually <span class="showTooltip tooltip" title="You can send emails to Test takers individually from their results pages at a later date. This works well if you need to grade Essay Questions for example before emailing their results. Email will still be sent by ClassMarker.">Tip</span></label>
				<br>
				<span class="tab"><input   type="radio" title="Choose from one of the options" name="email_student_send_type" id="email_student_send_auto" value="auto">
				<label for="email_student_send_auto">Automatically <span class="showTooltip tooltip" title="Emails will be sent automatically.">Tip</span></label></span>
			<div id="email_student_send_auto_options_section" class="">
				<div class="tab">
					<input   class="sub-checkbox " type="radio" title="Choose from one of the options" name="settings[email_student_send_type_auto]" id="email_student_send_type_auto_on_completion_to_email_queue" value="auto" checked="checked">
					<label for="email_student_send_type_auto_on_completion_to_email_queue">After Test completion</label>
				<br>
					<input   class="sub-checkbox" type="radio" title="Choose from one of the options" name="settings[email_student_send_type_auto]" id="email_student_send_type_auto_date" value="date">
					<label for="email_student_send_type_auto_date">After date</label>
				</div>
				<div id="email_student_send_date_section" class="hide">
					<div class="tab">
						<div class="sub-checkbox">
							<div class="sub-checkbox">
								<span class="littledark">mm/dd/yyyy</span><br>

							<input   type="text" name="settings[email_student_send_date_date]" readonly="readonly" id="email_student_send_date_datepickerfrom" value="" size="15" maxlength="10" autocomplete="off" class="XhasDatepicker">&nbsp;
								<select name="settings[email_student_send_date_h]" id="email_student_send_date_h"><option value="12">12</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option></select>
								<select name="settings[email_student_send_date_m]" id="email_student_send_date_m"><option value="00">00</option><option value="05">05</option><option value="10">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option><option value="30">30</option><option value="35">35</option><option value="40">40</option><option value="45">45</option><option value="50">50</option><option value="55">55</option></select> 
								<select name="email_student_send_date_ampm" id="settings[email_student_send_date_ampm]"><option value="am">am</option><option value="pm">pm</option></select>&nbsp;<span class="showTooltip tooltip" title="Set the date and time after which emails are sent to Test takers.">Tip</span>
						</div>
					</div>
				</div>
			</div><br>
				<div class="tab">
				<input   type="checkbox" class="sub-checkbox email_student_checkbox" name="settings[email_student_send_if_not_graded]" id="email_student_send_if_not_graded">
				<label for="email_student_send_if_not_graded">Do not send if Test contains ungraded Questions. </label>
				<span class="showTooltip tooltip" title="Only send email if all Questions are graded. This is only applicable if Questions that need to be manually graded, such as Essay Questions, are given in the Test, in which case you can send emails from the results pages when you manually grade those Questions.">Tip</span>
			</div></div></div></div>
	</div>

</div> -->
<div class="settings-box">
	<div class="accordion-toggle scroll_printing setting-print closed">
		<h3 class="form-field-title">Printing<br>Copy, Paste</h3>
		<div class="settings-status"><%if(edits=='0'){%>No<%}else if(edits=='1'){if(setting.allow_printing=='1'){%>Yes<%}else{%>No<%}}%><br>
			<%if(edits=='0'){%>No<%}else if(edits=='1'){if(setting.allow_copytext=='1'){%>Yes<%}else{%>No<%}}%>, <%if(edits=='0'){%>No<%}else if(edits=='1'){if(setting.allow_pastetext=='1'){%>Yes<%}else{%>No<%}}%>		</div><div class="caret">&nbsp;</div>
		<div class="clear"></div>
	</div>
	<div class="accordion-fold">

		<div class="field-group">
			<input type='hidden' name='settings[allow_printing]' value='0' id='pp_22'>
			<input type="checkbox" name="settings[allow_printing]" value="1" id="pp_2" class="tab" <%if(edits=='0'){%> <%}else if(edits=='1'){if(setting.allow_printing=='1'){%> checked=true <%}}%> >
			<label for="pp_2">Allow Printing <span class="showTooltipHTML tooltip" title="Allow printing to Test Questions and Results pages.">Tip</span></label>
		</div>
		<div class="field-group">
			<input type='hidden' name='settings[allow_copytext]' value='0' id='copytext2'>
			<input type="checkbox" name="settings[allow_copytext]" value="1" id="copytext" class="tab" <%if(edits=='0'){%> <%}else if(edits=='1'){if(setting.allow_copytext=='1'){%> checked=true <%}}%> >
			<label for="copytext">Allow Highlight &amp; Copy Text <span class="showTooltipHTML tooltip" title="You cannot 100% stop a user from copying text from any website. Using this option, however, makes it very hard for most users.">Tip</span></label>
		</div>
		<div class="field-group">
			<input type='hidden' name='settings[allow_pastetext]' value='0' id='pastetext2'>
			<input type="checkbox" name="settings[allow_pastetext]" value="1" id="pastetext" class="tab" <%if(edits=='0'){%> <%}else if(edits=='1'){if(setting.allow_pastetext=='1'){%> checked=true <%}}%>>
			
			<label for="pastetext">Allow Pasting Text <span class="showTooltipHTML tooltip" title="Allow Users to Paste Text into Text Input Boxes for Free Text, Grammar and Essay Question types.">Tip</span></label>
		</div>
	</div>
</div>
<div class="clearheight"></div>