			<h4>Group Delete Options</h4>
			<div class="alert-box editor ">
				<p>
					<strong>What if some Group members are registered to multiple Groups?</strong><br>If any users in this group are also registered to one or more of your other groups, their results for this group will be deleted,
 		 however, they will remain registered in your other groups and Test results for those Groups will still be available.
				</p>
				<p>
					<strong>Please Note:</strong> Any users who are registered to this group, only, will have ALL their results removed and will be deleted from ClassMarker completely. 
		If any Test results are waiting to be emailed to these users in this Group, the emails will be canceled and not sent.
				</p>
				<p>Data not related to this group will not be affected in any way.</p>
			</div>