		<div class="col-span-7">
			<p class="breadcrumb3">
				<a href="/tests/groups/" class="first">
					<span>Groups</span>
				</a>
				<a href="/tests/groups/edit/?group_id=<%=G._id%>">
					<span>Edit Group</span>
				</a>
				<span>Delete Group</span>
			</p>
		</div>
		<div class="col-span-3">
			<ul class="menu-sections" id="walkthrough-menu">
				<li class="test">
					<a href="/tests">
						<span>Tests</span>
					</a>
				</li>
				<li class="group">
					<a class="sect" href="/tests/groups">
						<span>Groups</span>
					</a>
				</li>
				<li class="link">
					<a class="sect" href="/tests/links">
						<span>Links</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearheight20"></div>
		<div class="clearheight20"></div>