html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 border:0;
 font:inherit;
 margin:0;
 padding:0;
 vertical-align:baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display:block
}
body {
 line-height:1
}
ol,
ul {
 list-style:none outside none
}
blockquote,
q {
 quotes:none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
 content:none
}
table {
 border-collapse:collapse;
 border-spacing:0
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
 content:"";
 display:table
}
.clearfix:after,
.row:after {
 clear:both
}
body {
 background:none repeat scroll 0 0 #eee;
 color:#444;
 font-family:helvetica,arial;
 font-size:14px;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
h1,
h2,
h3,
h4,
h5 {
 clear:both;
 font-weight:700;
 line-height:1.4em;
 margin-bottom:.3em
}
h1 {
 font-size:50px
}
h2 {
 font-size:42px
}
h3 {
 font-size:30px
}
h4 {
 font-size:24px
}
h1+h2,
h2+h3,
h3+h4 {
 margin-top:-.5em
}
h2+h3 {
}
a {
 color:#de3e00;
 cursor:pointer;
 text-decoration:none
}
a:hover {
 text-decoration:underline
}
.qformatlinks {
 margin-right:20px;
 font-size:11px
}
strong {
 font-weight:700
}
em,
i {
 font-style:italic
}
.underline {
 text-decoration:underline
}
.right {
 display:block;
 float:right!important
}
.left {
 display:block;
 float:left
}
.inline {
 display:inline
}
.clear {
 clear:both;
 display:block
}
.inactive {
 opacity:.3
}
.correct {
}
.incorrect {
}
.correct.row {
 background:none repeat scroll 0 0 #ebf6ea!important;
 color:#444
}
.incorrect.row {
 background:none repeat scroll 0 0 #feece9!important;
 color:#444
}
.field-group {
 margin-bottom:20px;
 padding-right:5px
}
.field-group.leftpad {
 padding-left:20px
}
.littlelink {
 font-size:12px
}
.little {
 color:#aaa;
 font-size:12px;
 line-height:20px
}
.littledark {
 color:#444;
 font-size:12px;
 line-height:20px
}
.inh3points {
 color:#aaa;
 font-size:12px;
 line-height:20px;
 font-weight:400
}
.next-result {
 color:#de3e00;
 font-size:13px;
 line-height:20px
}
.pagination {
 font-size:13px;
 background:none repeat scroll 0 0 #fff;
 border:1px solid #aaa;
 border-radius:3px 3px 3px 3px;
 line-height:20px;
 padding:10px 20px;
 margin:0 0 10px
}
.pagination span {
 margin-right:3px
}
.current-pag {
 background:#888;
 padding:2px 4px;
 color:#fff;
 border-radius:2px
}
.form-field-title {
 display:inline-block;
 float:left;
 margin-top:3px;
 margin-right:10px;
 text-align:right;
 width:125px
}
.form-field-title.assign {
 width:200px!important
}
.form-field-title.not-input {
 margin-top:0!important
}
.form-text-value {
 display:inline-block;
 margin-top:3px
}
.settings-status {
 line-height:1.4em
}
input[type=text],
input[type=number],
input[type=password],
textarea {
 border:1px solid #aaa;
 border-radius:3px 3px 3px 3px;
 margin-bottom:8px;
 margin-left:0;
 padding:6px;
 color:#444;
 font-family:Helvetica Neue,Arial,Helvetica,sans-serif;
 font-size:95.25%;
 line-height:1.3em
}
textarea.editquestion {
 width:510px
}
select {
 border:1px solid #d0d2d2;
 border-radius:4px;
 font-size:15px;
 color:#444;
 background:#fff;
 margin-bottom:8px;
 height:30px;
 line-height:30px
}
select.lang-selector {
 min-width:176px
}
a.showcont {
 margin:0;
 padding:0 18px 0 0;
 clear:both;
 background:url(../img3/open_arrow.png) right no-repeat
}
a.showPrevRes {
 margin-left:12px;
 padding:12px;
 background:url(../img3/prev-results.png) no-repeat;
 display:block
}
.test-settings-summary h3 {
 font-size:21px
}
.edit-name {
 border:1px solid #fff;
 margin-bottom:10px
}
.edit-name:hover {
 background-color:#ffc;
 border-radius:2px 2px 2px 2px;
 border:1px solid #ccc
}
.edit-symbol {
 background:url(../img3/icons-sprite.png) no-repeat -1px -4768px;
 margin-left:5px;
 width:16px;
 height:12px;
 display:inline-block
}
.linksinafold {
 margin:5px 0 0 36px;
 font-size:13px;
 padding:0;
 clear:both
}
.linksinafold.settings {
 padding:6px 0 0!important;
 margin:0
}
.linksinafold.show-direct-links {
 padding-top:30px
}
.page {
 float:left;
 margin-right:6%;
 min-height:330px;
 width:60%
}
.page.pagecontent {
 min-height:0!important
}
.no-min-height {
 min-height:0!important
}
.aside {
 float:right;
 min-height:330px;
 position:relative;
 width:33%
}
.aside.asidecontent {
 min-height:0!important
}
.aside-menu ul {
 list-style-type:none!important;
 margin:0
}
.white-bg {
 background-color:#fff!important
}
.aside-message {
 background-color:#f6f6f6;
 border:1px solid #aaa;
 margin-bottom:16px;
 padding:21px;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 -moz-background-clip:padding;
 -webkit-background-clip:padding-box;
 background-clip:padding-box
}
.aside-message ul li {
 margin-bottom:10px;
 margin-left:19px
}
.aside-message ul {
 list-style:circle
}
.aside-message ol li {
 margin-bottom:10px;
 margin-left:0
}
.aside-message.assign li {
 margin-bottom:2px
}
.aside-message ol {
 list-style:decimal!important
}
.aside-message.contact-us {
 width:42%
}
.aside-message.student-details {
 width:580px
}
.testres {
 line-height:1.4em;
 width:100%;
 clear:both;
 display:block;
 margin:0 0 20px;
 padding:10px 0
}
.testres .score {
 font-size:30px;
 font-weight:700;
 clear:both;
 margin:10px 10px 15px 0;
 color:#0896e6
}
.testres .score.inprogress {
 font-size:30px
}
.testres .score.pass {
 color:#5dbb5d
}
.testres .score.fail {
 color:#fb3618
}
.testres .score.grade {
 color:#fba21c
}
.testresleft {
 float:left;
 text-align:left;
 margin:0 10px 0 0
}
.key-element {
 margin:0 10px 10px 0;
 float:left
}
.settings-box h3 {
 float:left;
 font-size:13px;
 margin-top:0;
 text-align:left;
 width:108px
}
.settings-box h3.cat-stats {
 float:left;
 font-size:13px;
 margin:0 0 0 30px;
 text-align:left;
 width:308px
}
.settings-box .cat-stats-icon {
 display:block;
 width:25px;
 height:25px;
 content:"";
 background:url(../img3/icons-sprite.png) 1px -986px no-repeat;
 position:absolute;
 left:12px
}
.settings-box .cat-stats-icon.payments-icon {
 background:url(../img3/icons-sprite.png) 1px -6591px no-repeat
}
.settings-box .email-icon {
 display:block;
 width:25px;
 height:25px;
 position:absolute;
 left:15px;
 font-size:20px;
 top:9px;
 font-weight:lighter;
 font-family:arial;
 color:#969494
}
.settings-box .accordion-toggle {
 border-radius:3px 3px 3px 3px;
 padding:14px 16px;
 font-size:13px
}
.settings-box .accordion-fold {
 background:none repeat scroll 0 0 #fff;
 border-top:1px solid #aaa;
 padding-top:27px
}
.settings-box .accordion-fold.accordion-fold-no-top-pad {
 padding-top:0!important
}
.settings-box .accordion-fold .table {
 border:none!important;
 margin-bottom:0
}
.settings-box {
 border:1px solid #aaa;
 border-radius:3px 3px 3px 3px;
 margin-bottom:10px
}
.settings-box.cat-stats {
 border:1px solid #ddd
}
.settings-box.cat-stats .accordion-fold {
 border-top:1px solid #ddd
}
.student-page {
 float:left;
 margin-right:2%;
 width:66%
}
.student-asside {
 float:right;
 position:relative;
 width:31%
}
.student-message {
 border:1px dashed #aaa;
 border-radius:4px 4px 4px 4px;
 margin-bottom:16px;
 padding:21px
}
.ajaxerror {
 line-height:1.3;
 background:none repeat scroll 0 0 #fff6f4;
 border:1px solid #ebccd1;
 color:#b5514f;
 border-radius:3px 3px 3px 3px;
 margin:5px 0 16px;
 padding:9px;
 clear:both;
 text-align:left
}
.ajaxsuccess {
 line-height:1.3;
 background:none repeat scroll 0 0 #ebf6ea;
 border:1px solid #d6e9c6;
 border-radius:3px 3px 3px 3px;
 margin:5px 0 16px;
 padding:9px;
 clear:both
}
.alert-box a.closeV3 {
 display:block;
 float:right;
 height:16px;
 width:16px
}
.alert-box a.closeV3:hover {
 text-decoration:none
}
.alert-box a.closeV3 span {
 display:block;
 padding:0 4px;
 color:#f3b600;
 font-weight:700;
 font-size:16px
}
.alert-box {
 background:none repeat scroll 0 0 #fff8cf;
 border:1px solid #faebcc;
 border-radius:3px 3px 3px 3px;
 margin:5px 0 16px;
 padding:9px;
 clear:both
}
.alert-box.alert-center {
 width:90%;
 margin-left:3%
}
.alert-box.error {
 background:none repeat scroll 0 0 #fff6f4;
 border:1px solid #ebccd1;
 color:#b5514f
}
.alert-box.error a.closeV3 span {
 color:#a94442
}
.alert-box.alert-confirmation {
 background:none repeat scroll 0 0 #ebf6ea;
 border:1px solid #d6e9c6;
 color:#4e824e
}
.alert-box.alert-confirmation a.closeV3 span {
 color:#67be60
}
.alert-box.alert-default {
 background:none repeat scroll 0 0 #fcfcfc;
 border:1px solid #aeaeae
}
.alert-box.alert-default a.closeV3 span {
 color:#aeaeae
}
.alert-box.alert-white {
 background:none repeat scroll 0 0 #fff;
 border:1px solid #aeaeae
}
.alert-box.alert-white a.closeV3 span {
 color:#aeaeae
}
.tab {
 margin-left:138px!important
}
.tab-auto-cats {
 margin-left:40px!important
}
.subTab {
 margin-left:148px!important
}
.sub-checkbox {
 margin-left:20px!important
}
.r-tab {
 display:inline-block;
 margin-bottom:3px;
 margin-right:3px;
 text-align:left;
 width:90px
}
.indent-left {
 padding-left:20px
}
.bginactive {
 background-color:#ffeded
}
.bginactive .activestatus {
 color:#7d0000
}
.skip-link {
 display:none
}
.col-btns {
 text-align:right;
 font-size:12px
}
.col-btns>a.btn-results,
.col-btns>a.btn-noresults {
 margin-left:10px
}
.col-mid {
 text-align:center
}
a.edit-test,
a.edit-group,
a.edit-link,
a.assign-test,
a.assign-to-group,
a.view-analytics {
 color:#444;
 background-image:url(../img3/icons-sprite.png);
 background-repeat:no-repeat;
 padding:18px 0 18px 20px;
 margin:0 10px;
 font-size:12px
}
a.edit-group {
 background-position:-2px -5607px;
 padding-left:26px
}
a.edit-test,
a.edit-link {
 background-position:-1px -4752px
}
a.assign-test,
a.assign-to-group {
 background-position:0 -4806px
}
a.view-analytics {
 background-position:0 -4863px
}
#editLink_gn,
#editLink_tn {
 cursor:pointer
}
.classic {
 padding:.8em 1em
}
.custom {
 padding:.5em .8em .8em 2em
}
* html a:hover {
 background:none repeat scroll 0 0 transparent
}
.classic {
 background:none repeat scroll 0 0 #000;
 color:#fff
}
ul.dropdown-menu {
 font-size:13px
}
#show_selected_letters {
 background:url(../img3/icons-sprite.png) no-repeat scroll 20px -3646px #f6f6f6!important;
 color:#2c8800;
 text-align:center;
 display:none
}
.accordion-toggle {
 cursor:pointer
}
.default-pointer {
 cursor:auto
}
label.side {
 display:block;
 float:left;
 line-height:1.4;
 padding-right:10px;
 text-align:right;
 width:120px
}
.accordion-fold {
 clear:both;
 display:none
}
.accordion-fold.accordion-fold-default-open {
 display:block
}
.dropdown {
 display:inline;
 position:relative;
 text-align:left
}
.dropdown a {
 text-decoration:none
}
.dropdown ul {
 background:none repeat scroll 0 0 #fefefe;
 border-radius:3px 3px 3px 3px;
 box-shadow:0 0 3px rgba(0,0,0,.4);
 display:none;
 left:0;
 line-height:1.4em;
 min-width:120px;
 padding:4px 0;
 position:absolute;
 z-index:100;
 white-space:nowrap
}
.dropdown:hover ul {
 display:block
}
.dropdown ul a {
 color:#444;
 display:block;
 padding:.4em .7em .2em;
 text-decoration:none
}
.dropdown ul li:last-child a {
 border:medium
}
.dropdown ul a:hover {
 background:none repeat scroll 0 0 #aaa;
 color:#fff
}
.dropdown li.divider a {
 border-top:1px solid #ccc!important;
 margin-top:3px
}
.dropdown-x {
 display:block;
 width:50px
}
.actions>a {
 color:#444
}
.dropdown-x>a,
.dropdown-x label a {
 background-position:0 -1842px;
 display:block;
 height:18px;
 text-indent:-9999px
}
.question-selector {
 margin-top:15px
}
.menu .split {
 border-top:1px solid #ddd;
 padding-top:6px
}
.branding {
 height:70px
}
.branding img {
 margin-top:20px
}
.branding span {
 display:none
}
.header {
 background:none repeat scroll 0 0 #fff;
 min-width:100%
}
#content {
 background:none repeat scroll 0 0 #fff;
 padding:30px 0;
 min-width:940px
}
#content .innerWrapper,
.branding,
.menu.main,
#footer,
#footerprint {
 margin:0 auto;
 max-width:960px;
 min-width:900px;
 padding:0 20px;
 position:relative
}
#edit-user-popup-content {
 padding:20px;
 width:560px
}
.masthead {
 margin-bottom:30px
}
.menu-sections li,
.home-name,
.results-name,
.certificate-name,
.icon-calendar,
.icon-calendar-green,
.test-name,
.group-name,
.link-name,
.stat-name,
.search-name,
.member-name,
.question-name,
.theme-name,
.media-name,
.category-name,
.certificate-name,
.accesslist-name,
.community-name,
.tick,
.dropdown-x>a,
.tooltip,
.dropdown-x label a,
.btn-create .caret,
.btn-actions .caret,
.btn.dropdown-toggle .caret,
.btn.dropdown-toggle .caret,
.btn-assign.alt-a,
.btn.btn-toggle-analytics,
.table .result-fail,
.table .result-pass,
.table .result-grading,
.write-pre,
.write-ol,
.write-ul,
.write-font-link,
.write-video,
.user-manual,
.write-center,
.write-bold,
.write-fontM,
.write-fontL,
.write-fontS,
.write-question-preview,
.write-sub,
.write-sup,
.write-italic,
.write-underline,
.write-line-through,
.write-square-root,
.write-image,
.write-font-color,
.video-help,
.step-by-step {
 background-image:url(../img3/icons-sprite.png);
 background-repeat:no-repeat
}
.test-name {
 background-position:4px 3px
}
.group-name {
 background-position:1px -247px
}
.member-name {
 background-position:5px -2083px
}
.link-name {
 background-position:3px -492px
}
.stat-name {
 background-position:3px -4995px
}
.search-name {
 background-position:3px -3190px
}
.question-name {
 background-position:4px -735px
}
.theme-name {
 background-position:4px -1476px
}
.community-name {
 background-position:4px -1222px
}
.accesslist-name {
 background-position:4px -1352px
}
.media-name {
 background-position:5px -1107px
}
.category-name {
 background-position:1px -981px
}
.certificate-name {
 background-position:3px -860px
}
.user-email-name a {
 font-weight:400;
 padding-top:0!important;
 color:#444
}
.home-name {
 background-position:4px -5130px
}
.results-name {
 background-position:3px -5206px
}
.certificate-name {
 background-position:3px -860px
}
.icon-calendar {
 background-position:0 -5323px;
 height:15px
}
.icon-calendar-green {
 background-position:0 -5449px;
 height:15px
}
.link-captured-details {
 margin-left:37px
}
.link-captured-details .more-toggle.closed {
 margin-top:-4px
}
a.write-video {
 background-position:0 -4306px;
 padding-left:25px
}
.clear {
 clear:both
}
.clearheight {
 clear:both;
 height:15px;
 width:auto
}
.clearheight5 {
 clear:both;
 height:5px;
 width:auto
}
.clearheight10 {
 clear:both;
 height:10px;
 width:auto
}
.clearheight20 {
 clear:both;
 height:20px;
 width:auto
}
.clearheight30 {
 clear:both;
 height:30px;
 width:auto
}
.clearheight40 {
 clear:both;
 height:40px;
 width:auto
}
.clearheight60 {
 clear:both;
 height:60px;
 width:auto
}
.clearheight100 {
 clear:both;
 height:100px;
 width:auto
}
.clearheight120 {
 clear:both;
 height:120px;
 width:auto
}
.cleargrad {
 clear:both;
 height:15px;
 width:auto
}
.hide {
 display:none
}
.show {
 display:block
}
.f-left {
 float:left
}
.f-right {
 float:right
}
.padtop {
 padding-top:15px
}
.padleft {
 padding-left:15px
}
.padleft5 {
 padding-left:5px
}
.padleft30 {
 padding-left:30px
}
.padright {
 padding-right:15px
}
.padbottom {
 padding-bottom:15px
}
.margright {
 margin-right:15px
}
.margleft {
 margin-left:15px!important
}
.margtop {
 margin-top:15px
}
.margbottom {
 margin-bottom:15px
}
.margall {
 margin:15px
}
.posabsolute {
 position:absolute
}
.bottom-border {
 border-bottom:1px solid #ddd
}
.col600 {
 margin-left:20px
}
.mandatory_imgw_container img {
 max-width:98%!important
}
.imgw {
 display:none
}
#display_q_links img {
 display:block
}
.explain {
 font-size:13px;
 color:#6f6f6f;
 line-height:20px
}
.indent_permission {
 margin-left:24px
}
span.wonderBtn {
 border-radius:4px;
 position:relative;
 margin:0 3px 0 0;
 white-space:nowrap;
 display:inline;
 padding:6px;
 border:1px solid #d0d0d0;
 background:#e6e6e6;
 font-size:14px
}
span.wonderBtn a {
 color:#555;
 text-decoration:none;
 padding:8px 0
}
span.wonderBtn.selected {
 background:none repeat scroll 0 0 #0896e6;
 border-color:#045989;
 color:#fff
}
span.wonderBtn.selected a {
 color:#fff
}
span.wonderBtn:hover {
 background:none repeat scroll 0 0 #0896e6;
 border-color:#045989
}
span.wonderBtn:hover a {
 color:#fff
}
.tooltip {
 background-position:0 -3550px;
 color:#000;
 cursor:help;
 display:inline-block;
 outline:medium;
 position:relative;
 text-decoration:none;
 text-indent:-999em;
 width:20px
}
.tooltip.tooltiptextlevel {
 background-position:0 -3549px
}
.tooltip.alert {
 background-position:0 -4130px
}
.tooltip span {
 margin-left:-999em;
 position:absolute;
 text-indent:0
}
.tooltip:hover span {
 border-radius:3px 3px 3px 3px;
 box-shadow:5px 5px rgba(0,0,0,.1);
 left:1em;
 margin-left:0;
 position:absolute;
 right:4px;
 top:16px;
 width:160px;
 z-index:99
}
.tooltip:hover span.tooltip-to-left {
 margin-left:-195px
}
.col-span-05,
.col-span-1,
.col-span-15,
.col-span-2,
.col-span-25,
.col-span-3,
.col-span-35,
.col-span-4,
.col-span-45,
.col-span-5,
.col-span-6,
.col-span-65,
.col-span-7,
.col-span-75,
.col-span-8,
.col-span-85,
.col-span-9,
.table-col-1,
.table-col-2 {
 float:left;
 line-height:1;
 margin-right:0;
 position:relative;
 word-wrap:break-word
}
.col-span-05 {
 width:5%
}
.col-span-1 {
 width:10%
}
.col-span-15 {
 width:15%
}
.col-span-2 {
 width:20%
}
.col-span-25 {
 width:25%
}
.col-span-3 {
 width:30%
}
.col-span-35 {
 width:35%
}
.col-span-4 {
 width:40%
}
.col-span-45 {
 width:45%
}
.col-span-5 {
 width:50%
}
.col-span-6 {
 width:60%
}
.col-span-65 {
 width:65%
}
.col-span-7 {
 width:70%
}
.col-span-75 {
 width:75%
}
.col-span-8 {
 width:80%
}
.col-span-85 {
 width:85%
}
.col-span-9 {
 width:90%
}
.col-span-10 {
 width:100%
}
.table-col-1 {
 width:60%
}
.table-col-2 {
 width:40%
}
.table-col-3 {
 width:30%
}
.col-span-1.margin,
.col-span-2.margin,
.col-span-3.margin,
.col-span-4.margin,
.col-span-45.margin,
.col-span-5.margin,
.col-span-6.margin,
.col-span-7.margin,
.col-span-8.margin,
.col-span-9.margin,
.table-col-1.margin,
.table-col-2.margin,
.table-col-3.margin {
 margin-right:2%;
 float:left;
 position:relative;
 word-wrap:break-word
}
.col-span-1.margin {
 width:8%
}
.col-span-2.margin {
 width:18%
}
.col-span-3.margin {
 width:28%
}
.col-span-4.margin {
 width:38%
}
.col-span-5.margin {
 width:48%
}
.col-span-6.margin {
 width:58%
}
.col-span-7.margin {
 width:68%
}
.col-span-8.margin {
 width:78%
}
.col-span-9.margin {
 width:88%
}
.table-col-1.margin {
 width:58%
}
.table-col-2.margin {
 width:38%
}
.table-col-3.margin {
 width:28%
}
.namepad {
 padding:2px 36px
}
.name {
 display:block;
 font-size:14px;
 line-height:1;
 min-height:2px;
 margin-bottom:30px;
 padding:8px 36px
}
.name+.name {
 margin-top:-25px
}
.name+.user-email-name {
 margin:-35px 0 30px 3px;
 font-size:12px
}
.name+.all-user-results-name {
 margin:-35px 0 20px 3px;
 font-size:12px;
 font-weight:400;
 color:#de3e00
}
.name+.normal-text-name {
 margin:-35px 0 20px 3px;
 font-size:12px;
 font-weight:400
}
.name+.editname {
 margin:-30px 0 30px 36px;
 font-size:12px
}
.name+.assignselect {
 margin:10px 0 0 36px
}
.name.group-name {
 padding-right:5px!important
}
.editor p,
.editor ul,
.editor ol,
.editor img {
 margin-bottom:1em
}
p {
 margin-bottom:1em
}
.editor .sup {
 vertical-align:super;
 font-size:80%
}
.editor .sub {
 vertical-align:sub;
 font-size:80%
}
.accordion-toggle.mini {
 background-color:transparent;
 background-position:0 0;
 display:block;
 margin:10px 0
}
.accordion-toggle.mini.open .caret,
.accordion-toggle.mini.closed .caret {
 display:inline;
 position:static
}
.editor strong {
 font-weight:700
}
.editor em {
 font-style:italic
}
.editor ol {
 list-style:decimal;
 margin-left:22px
}
.editor ul {
 list-style:disc none;
 margin-left:15px
}
.editor ul ul {
 list-style:circle outside none
}
.editor ul ul ul {
 list-style:square outside none
}
.editor ul ul ul ul {
 list-style:disc outside none
}
.editor ol.multiple-choice {
 list-style:none outside none;
 margin-left:0
}
.editor ol.import-steps {
 list-style:decimal;
 margin-left:55px
}
.editor ol.multiple-choice .count {
 display:block;
 float:left;
 font-weight:700;
 margin-right:4px;
 text-align:right;
 width:24px
}
.editor li.correct,
.editor li.incorrect {
 position:relative
}
.editor li.correct .tick,
.editor li.incorrect .tick {
 left:-16px;
 position:absolute
}
.dual {
 background:url(../img3/line-vertical.png) repeat-y scroll 50% 0 transparent
}
a.user-manual {
 background-position:-1px -4637px;
 padding-left:25px
}
.table.noborder {
 border:none!important
}
.tick {
 background-position:0 -3666px;
 display:inline-block;
 height:14px;
 margin:0 4px;
 text-indent:-9999px;
 width:20px;
 min-width:20px
}
.tick.x {
 background-position:0 -3778px
}
img.img-shadow {
 max-width:100%;
 margin:20px 0 50px;
 clear:both;
 display:block;
 border:1px solid #979797;
 box-shadow:14px 14px 5px #afafaf
}
img.noimgmarg {
 margin-bottom:0!important
}
.table {
 border:1px solid #aaa;
 border-radius:3px 3px 3px 3px;
 clear:both;
 margin-bottom:20px
}
.table .row {
 border-bottom:1px solid #ddd;
 padding:20px 26px 16px;
 position:relative;
 clear:both
}
.table .row.rgr-row {
 padding:20px 6px 16px 26px!important
}
.table .row.noborder {
 border:none!important
}
.table .row.nopad {
 padding:5px 26px!important
}
.table .row.no-overflow {
 overflow:hidden!important
}
.table .row.previous-scores {
 border-bottom:1px dashed #ddd;
 background-color:#f8f8f8
}
.table .row.previous-scores-last {
 border-bottom:1px solid #e0e0e0;
 background-color:#f8f8f8
}
.table .row.previous-scores-avg {
 border-bottom:2px solid #e0e0e0;
 background-color:#f3f3f3
}
.table .row .name {
 line-height:1.2;
 margin:-8px 0;
 padding:8px 36px
}
.table .row.test-question .question-name {
 background:none repeat scroll 0 0 transparent;
 font-size:23px;
 padding:3px 26px 2px 0
}
.table .row.spacerrow {
 padding:7px 0
}
.table .table-utility {
 background:none repeat scroll 0 0 transparent;
 padding:16px 26px;
 clear:both
}
.table .table-utility.below {
 border-top:1px solid #ddd;
 border-bottom:none;
 margin:25px 0
}
.table .table-utility .column-title {
 font-weight:700
}
.accordion-toggle.open>.caret {
 background:url(../img3/icons-sprite.png) repeat scroll 0 -3983px transparent
}
.accordion-toggle.closed>.caret {
 background:url(../img3/icons-sprite.png) repeat scroll 0 -2653px transparent
}
.openrows {
 color:#838383;
 font-size:12px;
 margin-right:5px
}
.openrows a {
 color:#838383!important
}
.closerows {
 color:#838383;
 font-size:12px;
 margin-right:10px
}
.closerows a {
 color:#838383!important
}
.accordion-toggle>.caret {
 margin-top:-7px;
 padding:0 6px;
 position:absolute;
 right:6px;
 top:50%
}
.table .row.accordion-toggle:hover {
 background:none repeat scroll 0 0 #e4f1fb
}
.table .row .checkbox {
 left:-15px;
 position:absolute;
 top:-4px
}
.table .row.table-utility .checkbox {
 top:0
}
.table .row .checkbox+* {
 margin-left:4px
}
.table .in-row-heading {
 display:none
}
.table .btn-group>* {
 margin:0 6px
}
.table .btn-group>*:last-child {
 margin-right:0
}
.table .row .btn-group {
 float:right
}
.table .row.hint {
 border-bottom:1px solid #ddd;
 color:#888;
 font-size:12px;
 font-weight:400;
 height:0;
 padding:9px 0 21px;
 text-shadow:0 1px 0 #fff;
 text-indent:6px
}
.table .row .btn-group .dropdown,
.table .row .btn-group .btn {
 display:inline
}
.accordion-toggle,
.row.test-question,
.row.group-name-row {
 background:none repeat scroll 0 0 #f7f7f7;
 position:relative
}
.accordion-toggle.open {
 background-position:102.5% -3962px;
 background:none repeat scroll 0 0 #e4f1fb
}
.accordion-toggle.closed {
 background-position:102.5% -2632px
}
.table .row.accordion-toggle.closed .col-btns {
 display:none
}
.table .accordion-fold {
 background:none repeat scroll 0 0 #fff
}
.table.has-checkbox .accordion-fold .row {
 padding-left:80px
}
.table .accordion-fold .row,
.table .test-subrow .row {
 padding-left:54px
}
.table .graph .value {
 display:block;
 float:left;
 padding-right:4px;
 text-align:right;
 width:50px
}
.table .graphics {
 background-color:#c8e8ff;
 float:left;
 position:relative;
 width:100px;
 border-top-right-radius:8px;
 border-bottom-right-radius:8px
}
.table .bar-graph,
.table .bar-graph-ref {
 background:none repeat scroll 0 0 #0896e6;
 display:block;
 float:left;
 position:relative;
 z-index:2;
 border-top-right-radius:8px;
 border-bottom-right-radius:8px
}
.student-row:hover {
 background-color:#f8fff5
}
.table .bar-graph-ref {
 background:none repeat scroll 0 0 #ddd;
 display:block;
 left:0;
 position:absolute;
 z-index:1
}
.table .bar-graph.bar-pass {
 background:none repeat scroll 0 0 #5dbb5d
}
.table .bar-graph.bar-fail {
 background:none repeat scroll 0 0 red
}
.table .bar-graph.bar-grading {
 background:none repeat scroll 0 0 #ffd551
}
.table .avg-line {
 border-left:1px dashed #5dbb5d;
 display:block;
 height:100px;
 left:0;
 position:absolute;
 top:-20px;
 width:1px
}
.pass-indicator {
 border-right:2px dashed #5dbb5d;
 display:inline;
 height:20px
}
.pass-indicator-text {
 font-size:9px;
 color:#aaa;
 margin-top:12px;
 display:block;
 margin-bottom:-12px;
 margin-left:117px
}
.table .row.overall {
 background:none repeat scroll 0 0 #e4f1fb
}
.table .result-fail,
.table .result-pass,
.table .result-grading {
 background-position:0 -3777px;
 display:block;
 text-indent:-9999px
}
.table .result-pass {
 background-position:0 -3667px
}
.table .result-grading {
 background-position:0 -3551px
}
.more-toggle {
 display:inline-block;
 margin:10px 0
}
ul.hoverrows li:hover {
 background:none repeat scroll 0 0 #e4f1fb!important
}
.add-symbol {
 font-size:26px;
 position:absolute;
 right:26px;
 top:-8px
}
.assign-to {
 font-size:26px
}
.questions-title {
 margin-bottom:90px
}
.questions-title h3 {
 margin-top:-12px
}
#footer {
 /* background:url(../img3/retina/cm-loggedin-logo-footer@3x.png) no-repeat scroll right 26px transparent; */
	background:url(../img3/cm-loggedin-logo-footer_3x.png) no-repeat scroll right 26px transparent;
 background-size:136px 21px;
 clear:both;
 padding:60px 0
}
#footercontent {
 font-size:12px
}
#footercontent ul {
 margin-bottom:10px
}
#footercontent ul li {
 border-right:1px solid;
 display:inline;
 padding:0 5px
}
#footercontent ul li:first-child {
 padding-left:0
}
#footercontent ul li:last-child {
 border:medium
}
hr {
 background:none repeat scroll 0 0 #aaa;
 border:medium;
 height:1px;
 margin-bottom:20px
}
hr.thick {
 height:2px
}
hr.recentfilter {
 margin-bottom:10px
}
.divider-dashed {
 clear:both;
 float:none;
 width:100%;
 height:1px;
 margin:25px 0 10px;
 padding:0;
 border-bottom:1px dashed #aaa
}
.admin-question-title {
 display:block;
 padding:2px 16px 0 0;
 text-align:right
}
.user-answer-title {
 display:block;
 padding:2px 16px 0 0;
 text-align:right;
 margin-bottom:30px
}
.placeholder {
 color:#aaa
}
.only-ie {
 display:none
}
.why-paste {
 text-decoration:underline;
 font-size:12px
}
td.center {
 text-align:center
}
.sort-trigger {
 color:#444;
 text-decoration:none;
 float:left
}
.sort-questions-container {
 margin:0;
 padding:27px 0;
 border-bottom:1px dotted #ddd
}
.sort-category-indicator {
 float:right
}
.sort-left {
 float:left;
 display:inline-block;
 width:4%
}
.sort-right {
 margin-left:6px;
 display:inline-block;
 width:94%
}
.printonly {
 display:none
}
.resume_options_right {
 margin-left:130px
}
.limitwidth {
 max-width:95%
}
.assistant-list-left {
 min-width:200px;
 display:inline-block
}
.members-list-left {
 min-width:90px;
 display:inline-block
}
ul.instructions-list {
 list-style:disc;
 margin:16px 24px
}
.gas {
 text-decoration:underline;
 font-weight:700;
 font-size:96%
}
.gray,
.active {
 color:#4d4d4d
}
.green {
 color:#006000
}
.orange {
 color:#de3e00
}
.red {
 color:#7d0000
}
.headrow {
 background:#f7f7f7
}
.backtotop {
 margin-top:20px;
 font-size:12px;
 color:#6f6f6f
}
.plus {
 margin:0 7px
}
.plus_left {
 margin-left:7px
}
.explain-underline {
 font-size:13px;
 color:#6f6f6f;
 border-bottom:1px dashed #6f6f6f;
 margin:3px
}
.explain-underline:hover {
 text-decoration:none
}
.findmore {
 padding-top:4px
}
#test_msg,
#group_msg {
 width:550px
}
.input_number_cats {
 width:40px
}
.width-test-text {
 width:640px
}
ul.homelist {
 color:#4d4d4d
}
ul.homelist li {
 list-style:none;
 padding:0 12px 12px 26px;
 margin-bottom:12px;
 background:url(../img/cm_tick.gif) top left no-repeat;
 border-bottom:1px solid #ddd
}
ul.homelist li.last {
 background:url(../img/cm_tick.gif) top left no-repeat!important
}
.boxinline {
 border:1px solid #d0d2d2;
 background:url(../img/grad_inline.gif) bottom left repeat-x;
 margin:10px 0;
 padding:10px;
 width:500px
}
.boxinline300 {
 border:1px solid #d0d2d2;
 background:url(../img/grad_inline.gif) bottom left repeat-x;
 margin:0 0 20px;
 padding:8px 14px 10px 20px;
 width:300px
}
.boxinlineV3 {
 border:1px solid #ddd;
 background-color:#f7f7f7;
 margin:10px 0 20px;
 padding:8px 14px 10px 20px;
 width:500px;
 background-image:none!important
}
.chosen {
 color:#8c8c8c;
 margin:12px 0;
 line-height:1.3em;
 font-size:13px
}
.v3QuizHolder,
.v3QuizHolderFeedback {
 width:660px
}
.cats_in_qb_filter {
 width:160px
}
.edit_grade_scale_dropdown {
 width:300px
}
.dotted {
 color:#fff;
 clear:both;
 float:none;
 height:1px;
 margin:5px 10px 10px;
 padding:0;
 border-bottom:1px dotted #d2d2d2
}
.col600 .dotted {
 margin:5px 0 10px
}
.solidline {
 color:#fff;
 clear:both;
 float:none;
 width:100%;
 height:1px;
 margin:5px 0 10px;
 padding:0;
 border-bottom:1px solid #d2d2d2
}
.row .extra-info {
 font-size:90%;
 padding:10px 0 0 36px
}
.hand {
 cursor:pointer
}
.userbox {
 margin:0 0 12px;
 padding:0 0 12px;
 border-bottom:1px dotted #ddd
}
.close span,
.jqmClose span,
a.closeTable span {
 display:none
}
a.close,
a.closeTable {
 display:block;
 float:right;
 height:16px;
 width:16px;
 background:url(../img/close.gif) top right no-repeat
}
.alert-announcement {
 margin:5px 0 16px;
 border:1px solid #d6e9c6;
 border-radius:3px 3px 3px 3px;
 clear:both
}
.alert-announcement .close-me {
 display:block;
 float:right;
 font-weight:700
}
.alert-announcement a.close-me {
 color:#add8ab;
 font-size:20px;
 background:0 0
}
.alert-announcement a:hover.close-me {
 background:0 0;
 text-decoration:none
}
.alert-announcement .alert-date {
 color:#959c95;
 font-size:13px;
 margin-top:12px
}
.alert-announcement .alert-title {
 font-weight:700;
 margin-right:10px
}
.alert-announcement .alert-announcement-header {
 background:url(../img3/info_success.png) no-repeat 13px 10px #ebf6ea;
 padding:3px 9px 15px 65px
}
.alert-announcement .alert-announcement-body {
 background-color:#fff;
 padding:20px 65px;
 border-top:1px solid #d6e9c6
}
.alert-announcement .alert-announcement-social {
 background-color:#fff;
 padding:0 25px
}
.alert-announcement-social p {
 font-size:12px
}
.alert-announcement-social img {
 margin:0 7px 0 10px
}
.alert-announcement-social a {
 color:#444
}
h4 {
 font-size:1.4em;
 padding:2px 0 10px
}
.usertab {
 margin-left:123px!important
}
.classmarker_content {
 width:660px
}
.qInfoIndent {
 margin:0 0 0 10px
}
.previewfeedback {
 margin-bottom:15px
}
td.radio {
 width:20px;
 padding-bottom:12px;
 vertical-align:top
}
td.number {
 width:30px;
 font-weight:700;
 padding-bottom:12px;
 vertical-align:top
}
.qarrow {
 padding-right:15px;
 vertical-align:top
}
td.inplab {
 width:390px;
 vertical-align:top
}
td.answer {
 width:578px;
 padding-bottom:12px;
 vertical-align:middle
}
.expcont .answer {
 color:#000
}
td.textanswer {
 width:578px;
 color:#4d4d4d;
 padding-bottom:12px
}
.editShowCorrect {
 color:#2c8800
}
.editShowCorrecttf {
 color:#2c8800
}
.stats-answers {
 margin-left:20px
}
.answholderpreview {
 width:635px;
 margin-left:-20px;
 border-collapse:collapse
}
td.numberpreview {
 width:57px;
 font-weight:700;
 padding-bottom:12px;
 vertical-align:top
}
td.answerpreview {
 width:578px;
 padding-bottom:12px
}
.ans_select {
 float:left;
 margin-right:7px
}
.ans_content_letter {
 float:left;
 margin:2px 0 0
}
.ans_content_prefixed {
 margin-left:49px;
 padding-bottom:12px;
 font-size:15px
}
.ans_content {
 margin-left:30px;
 padding-bottom:12px
}
.qpad {
 margin-bottom:1em
}
.qfieldset {
 border:none
}
.ans_content img {
 vertical-align:text-top
}
.mcanswersDiv {
 margin-left:25px;
 width:92%
}
.answersDiv {
 margin-left:20px
}
div.sarow {
 clear:both;
 padding-bottom:12px;
 margin-left:10px;
 max-width:660px
}
div.satick {
 float:left;
 width:20px
}
div.saabc {
 font-weight:700;
 float:left;
 width:20px
}
div.saans {
 margin-left:40px;
 text-align:left
}
div.tsarow {
 clear:both;
 padding-bottom:12px;
 margin-left:10px;
 font-size:1.125em
}
div.tsatick {
 float:left;
 width:20px
}
div.tsaans {
 margin-left:20px;
 text-align:left
}
div.tsaansheader {
 margin-left:20px;
 text-align:left;
 font-size:.8em;
 font-style:italic;
 color:#4d4d4d
}
.resultstable {
 margin:0 0 25px;
 width:100%;
 border-collapse:collapse
}
.resultstable_smallmarginbottom {
 margin-bottom:1px!important
}
.no_border {
 border:none!important
}
.resultstable th {
 text-align:left;
 vertical-align:top;
 padding:12px 0 7px;
 line-height:1em;
 font-weight:700
}
.resultstable td {
 text-align:left;
 vertical-align:top;
 padding:12px 0;
 line-height:1em;
 border-bottom:1px dotted #d2d2d2;
 color:#4d4d4d
}
.resultstable th.thheader {
 font-size:1.7em
}
.resultstable td.tdgrad {
 border-bottom:none;
 padding:0
}
.resultstable td.tdname {
 line-height:1.3em;
 color:#000
}
.resultstable .nb {
 width:20px;
 border:none
}
.resultstable .nbw {
 border:none
}
.resultstable .center {
 text-align:center!important
}
.edit-buyers {
 width:400px
}
.h4t {
 font-size:1.2em;
 color:#000
}
.related-content-box {
 padding-top:13px;
 position:absolute;
 right:60px
}
.nominheight {
 min-height:0!important
}
.bold {
 font-weight:700
}
.questionExamplesTable {
 font-size:15px
}
.questionExamplesTable .mcexample {
 padding-bottom:12px
}
.access_list_dd_width {
 max-width:280px
}
.mand {
 padding:0 12px 0 0;
 background:url(../img/star.gif) top right no-repeat
}
.ui-state-default {
 margin:0
}
.ui-tabs {
 padding:0;
 border:none
}
.ui-tabs .ui-tabs-nav {
 padding:0
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
 border-radius:0 0 0 0
}
.ui-tabs-nav {
 background:none repeat scroll 0 0 transparent;
 border:medium
}
.ui-tabs .ui-tabs-panel.has-table {
 padding:0
}
.ui-widget-content a {
 color:#de3e00
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
 background-image:none
}
.ui-widget-content a.btn {
 color:#444
}
.ui-widget-content a.btn-create,
.ui-widget-content a.btn-analytics,
.ui-widget-content a.btn-results {
 color:#fff
}
.ui-tabs-panel .table>ul {
 border-top:1px solid #ccc;
 margin-top:12px
}
.ui-tabs-nav li .dropdown {
 display:block;
 float:right;
 position:relative;
 padding-top:6px;
 padding-right:6px
}
.ui-tabs-nav li .dropdown-menu {
 margin-top:26px
}
.ui-tabs-nav li .dropdown-menu>li:hover {
 background:#aaa;
 display:block;
 width:100%
}
.ui-tabs-nav li .dropdown-menu>li:hover a,
.dropdown-menu>li:hover {
 cursor:pointer
}
.ui-tabs-nav li .dropdown {
 display:none;
 padding:4px!important
}
.ui-tabs-selected .dropdown {
 display:block!important;
 padding:4px!important
}
.sort-trigger+.ui-icon-triangle-2-n-s {
 background-position:-129px -17px!important;
 float:left
}
.box .table h2,
.box h2 {
 font-size:20px;
 margin:0
}
.stats-box.first {
 margin-top:36px
}
.stats-box ul .row {
 padding-bottom:1px!important;
 padding-top:15px!important
}
.stats-box .name {
 font-weight:400
}
.row.title {
 background:#f0f0f0
}
.dashboard .secondary {
 padding-top:36px
}
.dashboard {
 margin-right:3px
}
.dashboard a:hover {
 background:#fff;
 color:#000;
 border-radius:2px;
 height:45px
}
#tc,
#syc {
 max-width:240px!important;
 overflow:hidden
}
.move_off_screen {
 position:absolute;
 left:-5000px
}
.second li {
 padding:10px 15px
}
.second li div.ttt {
 font-size:13px;
 padding:5px 10px 0 15px!important;
 margin:0
}
.second li p {
 font-size:12px;
 margin:0;
 padding:2px 5px 5px 15px;
 color:#949494
}
.second a {
 font-size:12px;
 text-decoration:none!important
}
.users {
 height:170px;
 border-bottom:2px solid #bababa!important
}
.test-taker-details {
 font-size:13px;
 background:#fff
}
.test-taker-details td {
 padding:5px 10px
}
.test-taker-details td a {
 padding:0;
 float:right;
 color:#444!important
}
.links {
 padding-bottom:15px
}
.test-link {
 font-size:18px!important
}
.tttsub {
 font-size:12px;
 margin:2px 5px 3px;
 padding:3px;
 background-color:#d6d6d6
}
.smallh4 {
 font-weight:400;
 font-size:12px!important
}
.takers-link {
 margin-top:25px;
 font-size:16px!important;
 text-decoration:none
}
.takers-link:hover {
 text-decoration:none!important;
 cursor:default
}
.group-name2 {
 background-position:1px -240px!important
}
.link-name2 {
 background-position:3px -485px!important
}
.upgrade-main-width {
 width:844px
}
.upgrade-thin-width {
 width:645px
}
.access {
 background:none repeat scroll 0 0 #000;
 height:40px;
 padding-top:8px;
 position:relative;
 z-index:1000
}
.access ul {
 position:relative;
 z-index:100000
}
.access ul li {
 float:left;
 position:relative
}
.access .current,
.access .current:hover {
 background:none repeat scroll 0 0 #fff;
 border-radius:3px 3px 0 0;
 color:#444
}
.access .current a {
 color:#444
}
.access .level-2>li>a {
 padding:.6em 2.6em .5em
}
.access ul ul .menu-firsst-section ul li h2 a:after {
 height:0;
 width:0;
 content:"";
 display:inline-block;
 border:5px solid transparent;
 border-left:5px solid #aaa;
 margin-left:3px;
 padding:0
}
.access ul ul .menu-secsond-section ul li h2 a:after {
 height:0;
 width:0;
 content:"";
 display:inline-block;
 border:5px solid transparent;
 border-left:5px solid #aaa;
 margin-left:3px;
 padding:0
}
.access ul li a {
 color:#fff;
 display:block;
 margin:0;
 padding:.5em 1.2em
}
.access>ul>li>a {
 font-size:20px
}
.access>ul>li:first-child>a {
 padding-left:1em
}
.access>ul>li.current:first-child>a {
 padding-left:1em
}
.access ul.level-3 {
 padding:0
}
.access ul ul li a {
 color:#444
}
.access ul.level-3 .assign {
 margin-top:10px
}
.access ul ul li a:hover {
 background-color:#eee!important
}
.access ul ul ul li a {
 background:none repeat scroll 0 0 transparent;
 color:#666!important;
 padding:.4em .7em .4em 3.2em
}
.access ul ul ul li h2 a {
 color:#444!important;
 font-size:15px!important
}
.access ul ul ul li a:hover,
.access ul li a:hover {
 text-decoration:none
}
.access ul ul {
 background:none repeat scroll 0 0 #fff;
 display:none;
 left:0;
 position:absolute;
 width:25%
}
.access>ul>li>ul {
 padding:0
}
.access ul ul li {
 width:100%
}
.access ul ul ul {
 position:static
}
.access .search-nav {
 float:right;
 margin-right:20px
}
.access .dashboard .level-2 {
 width:660px
}
.access .dashboard .level-2 a:hover {
 background-color:transparent!important;
 color:#de3e00!important
}
.access .dashboard .level-2>li>a {
 padding:.6em 2.6em .5em
}
.home a:hover {
 background-color:#f6f6f6
}
.access .dashboard .level-2>li {
 -moz-box-shadow:0 30px 20px 10px rgba(0,0,0,.35);
 box-shadow:0 30px 20px 10px rgba(0,0,0,.35);
 -webkit-box-shadow:0 30px 20px 10px rgba(0,0,0,.35)
}
.menu-new>a {
 display:inline-block!important
}
.level-2 {
 z-index:0;
 border-left:solid 1px #ccc;
 border-right:solid 1px #ccc;
 border-bottom:solid 1px #ccc;
 border-top:0;
 left:-1px!important
}
.access>ul>li>a {
 font-size:18px;
 padding:11px 1.2em
}
.access .dashboard .level-2 {
 width:610px
}
.menu-first-section h2,
.menu-second-section h2 {
 font-size:15px;
 font-family:Helvetica;
 width:150px;
 letter-spacing:2px;
 line-height:15px;
 cursor:default
}
.menu-first-section,
.menu-second-section {
 height:245px
}
.menu-recent-results a,
.menu-stats a {
 padding:0!important;
 font-size:13px
}
.menu-home img,
.account img {
 padding-left:5px
}
.access .help {
 border-radius:3px 3px 0 0
}
.access .home:hover,
.access .current:hover,
.access .help:hover {
 background:none repeat scroll 0 0 #f6f6f6!important;
 border-radius:3px 3px 0 0
}
.access .help:hover {
 background-color:#fff
}
.menu-first-section {
 padding:25px 0 0 20px;
 width:150px;
 background-color:#f6f6f6;
 border-right:solid 2px #e8e7e7;
 float:left
}
.menu-recent-results,
.menu-stats {
 background-color:#f6f6f6!important
}
.menu-recent-results>li,
.menu-stats>li {
 width:150px!important;
 padding-bottom:12px
}
.menu-recent-results>li:last-child {
 padding-bottom:30px
}
.customer-logo {
 float:right;
 width:300px
}
.customer-logo img {
 float:right;
 max-width:300px
}
.top-right-nav {
 float:right;
 margin-top:10px;
 width:405px
}
.top-right-nav .btn {
 margin-bottom:10px
}
.upgrade-logout-nav {
 display:block;
 margin-top:40px;
 float:right
}
.upgrade-logout-nav>li {
 display:inline-block;
 float:left
}
.upgrade-logout-nav>li {
 border-right:solid 1px #666;
 padding-right:7px
}
.upgrade-logout-nav>li:last-child {
 border-right:none
}
.upgrade-logout-nav>li>a {
 padding:0 0 0 8px;
 font-size:12px;
 color:#4d4d4d
}
.my-account {
 margin-top:0;
 margin-right:15px;
 float:right!important
}
.my-account-student {
 margin-right:33px
}
.my-account>a {
 padding-bottom:12px!important
}
.my-account .account {
 font-size:18px;
 padding-bottom:13px!important
}
.text,
.menu-arrow-account {
 display:inline-block
}
.menu-arrow-account {
 float:right;
 display:inline-block;
 margin-top:4px;
 width:13px;
 height:8px
}
.access .dashboard .account-nav {
 width:190px;
 margin-top:-4px
}
.access .dashboard .help-nav {
 width:160px
}
.access .dashboard .account-nav,
.access .dashboard .help-nav {
 border-left:solid 1px #ccc;
 border-right:solid 1px #ccc;
 border-bottom:solid 1px #ccc;
 left:-1px;
 -moz-box-shadow:0 30px 20px 10px rgba(0,0,0,.35);
 box-shadow:0 30px 20px 10px rgba(0,0,0,.35);
 -webkit-box-shadow:0 30px 20px 10px rgba(0,0,0,.35)
}
.access .dashboard .search-form {
 width:300px;
 border-left:solid 1px #ccc;
 border-right:solid 1px #ccc;
 border-bottom:solid 1px #ccc;
 left:-237px;
 -moz-box-shadow:0 30px 20px 10px rgba(0,0,0,.35);
 box-shadow:0 30px 20px 10px rgba(0,0,0,.35);
 -webkit-box-shadow:0 30px 20px 10px rgba(0,0,0,.35)
}
.search-nav>a {
 padding-bottom:7px!important
}
.access .dashboard .account-nav>li:first-child,
.access .dashboard .help-nav>li:first-child {
 padding-top:10px
}
.access .dashboard .account-nav>li,
.access .dashboard .help-nav>li {
 min-width:140px;
 padding-bottom:10px
}
.account-nav,
.help-nav {
 font-size:13px;
 padding:4px 5px 4px 38px
}
.account-nav li.divider {
 border-top:1px solid #ccc!important;
 margin-top:3px
}
.access .my-account:hover,
.access .help:hover,
.access .search-nav:hover {
 background:none repeat scroll 0 0 #fff!important;
 border-radius:3px 3px 0 0
}
.access .home:hover a,
.access .my-account:hover a,
.access .help:hover a {
 color:#444
}
.access .dashboard .account-nav a:hover,
.access .dashboard .help-nav a:hover,
.access .dashboard .search-form a:hover {
 background-color:transparent!important;
 color:#de3e00!important
}
ul.dropdown-menu {
 position:absolute;
 font-size:14px;
 border:solid 1px #ccc
}
.col-full {
 width:902px
}
.tipsy {
 font-size:13px;
 position:absolute;
 padding:5px;
 z-index:100000
}
.tipsy-inner {
 border:1px solid #000;
 background-color:#f7f7f7;
 color:#222;
 max-width:200px;
 padding:10px;
 text-align:left;
 line-height:1.2em
}
.tipsy-inner {
 border-radius:4px;
 -moz-border-radius:4px;
 -webkit-border-radius:4px
}
.tipsy-inner {
 box-shadow:10px 10px 5px #545454;
 -webkit-box-shadow:10px 10px 5px #545454;
 -moz-box-shadow:10px 10px 5px #545454
}
.tipsy-arrow {
 position:absolute;
 width:0;
 height:0;
 line-height:0;
 border:5px dashed #000
}
.tipsy-arrow-n {
 border-bottom-color:#000
}
.tipsy-arrow-s {
 border-top-color:#000
}
.tipsy-arrow-e {
 border-left-color:#000
}
.tipsy-arrow-w {
 border-right-color:#000
}
.tipsy-n .tipsy-arrow {
 top:0;
 left:50%;
 margin-left:-5px;
 border-bottom-style:solid;
 border-top:none;
 border-left-color:transparent;
 border-right-color:transparent
}
.tipsy-nw .tipsy-arrow {
 top:0;
 left:10px;
 border-bottom-style:solid;
 border-top:none;
 border-left-color:transparent;
 border-right-color:transparent
}
.tipsy-ne .tipsy-arrow {
 top:0;
 right:10px;
 border-bottom-style:solid;
 border-top:none;
 border-left-color:transparent;
 border-right-color:transparent
}
.tipsy-s .tipsy-arrow {
 bottom:0;
 left:50%;
 margin-left:-5px;
 border-top-style:solid;
 border-bottom:none;
 border-left-color:transparent;
 border-right-color:transparent
}
.tipsy-sw .tipsy-arrow {
 bottom:0;
 left:10px;
 border-top-style:solid;
 border-bottom:none;
 border-left-color:transparent;
 border-right-color:transparent
}
.tipsy-se .tipsy-arrow {
 bottom:0;
 right:10px;
 border-top-style:solid;
 border-bottom:none;
 border-left-color:transparent;
 border-right-color:transparent
}
.tipsy-e .tipsy-arrow {
 right:0;
 top:50%;
 margin-top:-5px;
 border-left-style:solid;
 border-right:none;
 border-top-color:transparent;
 border-bottom-color:transparent
}
.tipsy-w .tipsy-arrow {
 left:0;
 top:50%;
 margin-top:-5px;
 border-right-style:solid;
 border-left:none;
 border-top-color:transparent;
 border-bottom-color:transparent
}
.btn {
 background:none repeat scroll 0 0 #e7e7e7;
 border:none;
 border-radius:3px;
 color:#515151;
 cursor:pointer;
 display:inline-block;
 font-family:helvetica neue,helvetica,Helvetica,Arial,sans-serif;
 font-size:12px;
 font-weight:700;
 line-height:1;
 margin:0;
 outline:medium;
 padding:7px 13px;
 position:relative;
 text-align:center;
 text-decoration:none!important;
 width:auto
}
.btn:hover {
 background-color:#cacaca
}
.btn-white {
 background:none repeat scroll 0 0 #fff;
 border:1px solid #aaa;
 padding:6px 12px
}
.btn-white:hover {
 background-color:#ecebeb
}
input[type=submit]::-moz-focus-inner {
 border:0;
 padding:0
}
input.btn {
 line-height:normal!important
}
.btn-width-next {
 min-width:80px
}
.btn-analytics {
 background:none repeat scroll 0 0 #0896e6;
 color:#fff;
 white-space:nowrap
}
.btn-analytics:hover {
 background-color:#2489d6
}
.btn.result-stats {
 min-width:65px!important
}
.btn-toggle-analytics {
 background-position:0 -4875px;
 border-color:#045989;
 margin:0;
 padding:7px 0 5px 20px
}
.btn-create,
.btn-assign,
.btn-fail {
 background:none repeat scroll 0 0 #fb3618;
 color:#fff
}
.btn-create:hover,
.btn-assign:hover,
.btn-fail:hover {
 background:none repeat scroll 0 0 #e32e0f
}
.btn-rowhead {
 background:none repeat scroll 0 0 #0896e6;
 border-color:#045989;
 color:#fff
}
.btn-results,
.btn-preview {
 background:none repeat scroll 0 0 #5dbb5d;
 color:#fff
}
.btn-results:hover,
.btn-preview:hover {
 background:none repeat scroll 0 0 #56ae57
}
.btn-noresults {
 background:none repeat scroll 0 0 #9ed09e;
 color:#fff
}
.btn-noresults:hover {
 background:none repeat scroll 0 0 #5cbd5e
}
.btn-grading {
 background:none repeat scroll 0 0 #ffd551;
 color:#515151
}
.btn-grading:hover {
 background:none repeat scroll 0 0 #ecba0b
}
.btn.dropdown-toggle .caret {
 background:url(../img3/icons-sprite.png) repeat scroll 0 -2653px transparent;
 background-position:2px -2976px;
 padding:0 4px
}
.wysiwyg+.btn {
 margin-top:-20px
}
.btn-add-wysiwyg,
#show_selected_letters {
 background:url(../img3/icons-sprite.png) no-repeat scroll 10px -1709px #f6f6f6;
 border:1px solid #aaa;
 color:#444;
 margin:10px 0;
 padding:20px 0 20px 40px;
 text-shadow:none;
 width:510px;
 font-size:18px;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 -moz-background-clip:padding;
 -webkit-background-clip:padding-box;
 background-clip:padding-box
}
.btn-add-wysiwyg:hover {
 color:#fb3618!important
}
.btn:hover,
.btn-edit:hover,
.btn-cancel:hover,
.btn-delete:hover,
.btn-grading:hover {
 color:#444
}
.btn-create:hover,
.btn-assign:hover,
.btn-results:hover,
.btn-noresults:hover,
.btn-preview:hover,
.btn-analytics:hover,
.btn-fail:hover,
.btn-rowhead:hover {
 color:#fff
}
.btn-create .caret {
 background-position:0 -2761px;
 padding:0 4px
}
.menu .caret {
 background-position:0 -2761px;
 padding:0 4px
}
.btn-actions .caret {
 background-position:-2px -2705px;
 padding:0 4px
}
.btn-assign.alt-a {
 background-color:transparent;
 background-position:7px -1724px;
 border:medium;
 color:#de3e00;
 padding-left:34px;
 text-shadow:none;
 font-weight:400
}
.img100 img {
 max-width:100%!important
}
.previewImg {
 max-width:225px
}
.innerWrapper {
 overflow-wrap:break-word;
 word-wrap:break-word
}
#testTable {
 width:100%;
 border-collapse:collapse;
 border:1px solid #aaa;
 border-radius:3px;
 margin-bottom:20px
}
#testTable th {
 padding:16px 4px;
 line-height:1;
 word-wrap:break-word;
 font-weight:700
}
#testTable td {
 padding:16px 10px;
 border-top:1px solid #ddd
}
#testTable td .name {
 line-height:1.2;
 margin:-8px 0;
 padding:8px 36px
}
#testTable td .extra-info {
 font-size:90%;
 padding:10px 0 0 36px
}
#testTable .graphics {
 background-color:#c8e8ff;
 float:left;
 position:relative;
 width:100px;
 border-top-right-radius:8px;
 border-bottom-right-radius:8px
}
#testTable .bar-graph,
#testTable .bar-graph-ref {
 background:none repeat scroll 0 0 #0896e6;
 display:block;
 float:left;
 position:relative;
 z-index:2;
 border-top-right-radius:8px;
 border-bottom-right-radius:8px
}
#testTable .name-title {
 padding-left:70px;
 text-align:left
}
#testTable .percentage-title {
 min-width:166px;
 text-align:left
}
#testTable .score-title {
 text-align:left
}
#testTable .duration-title {
 min-width:80px;
 text-align:left
}
#testTable .graph .value {
 display:block;
 float:left;
 padding-right:4px;
 text-align:right;
 width:50px
}
.prev_scores_table .head-row {
 font-weight:700
}
.video-container {
 position:relative;
 padding-bottom:51.25%;
 padding-top:25px;
 height:0
}
.video-container iframe {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%
}
.cm-table-responsive {
 width:100%;
 margin-bottom:15px;
 overflow-x:auto;
 overflow-y:hidden
}
.mqsholder {
 width:100%
}
.m_content {
 border:1px solid #ddd;
 border-radius:5px
}
.m_title {
 background:#f7f7f7;
 border-bottom:1px solid #ddd;
 height:27px;
 border-radius:5px 5px 0 0
}
.m_empty {
 width:1%;
 padding:4px;
 text-align:center;
 display:inline-block;
 vertical-align:middle
}
.m_selection {
 width:85px;
 float:right
}
.m_margin {
 margin:10px 10px 20px
}
.m_column {
 vertical-align:top
}
.m_button {
 text-align:center;
 height:25px
}
.m_button button,
.m_button label {
 width:60%
}
.m_button label {
 min-width:60px;
 display:none
}
.m_button input {
 margin:0
}
.m_query {
 margin-bottom:0
}
.m_message {
 border:1px solid red;
 display:none
}
.m_h4 {
 padding:0;
 text-align:center
}
.mqsholder td {
 width:50%;
 height:0
}
.manswersDiv td select {
 background:#fff;
 margin-bottom:0;
 width:100%;
 height:28px
}
.d_selection {
 background:#f7f7f7
}
.matching_preview {
 padding:.6em
}
.m_cell,
.v_cell {
 padding:10px;
 vertical-align:top
}
.manswersDiv td select {
 background:#fff;
 margin-bottom:0;
 width:100%;
 height:28px
}
.matching_preview {
 padding:.6em
}
.mvholder {
 width:97%;
 border:none
}
.mvholder td {
 width:33%;
 height:0;
 vertical-align:top
}
.mvholder .v_title {
 padding:0 0 5px 10px
}
.m_cell {
 padding:10px;
 vertical-align:top
}
.m_icon {
 margin-bottom:.3em;
 font-size:1em
}
.m_icon img {
 margin-bottom:-.2em;
 padding-right:5px
}
.v_icon {
 margin-left:10px
}
.correct {
 color:#62b462
}
.wrong {
 color:#ff4517
}
.miss {
 color:#499fff
}
.v_clue {
 padding:30px 10px 10px;
 vertical-align:top
}
.line_divider {
 background:#ccc;
 margin:20px 0
}
.bbcode video,
.v_clue audio,
.v_result audio,
#display_q_links audio,
#display_q_links video {
 width:95%
}
.headlinetop {
 font-size:1.125em;
 margin-bottom:8px;
 line-height:1.5em
}
@media screen and (min-width:1000px) {
 .hover-row .row:hover,
 .single-hover-row:hover {
  background:#fafbff
 }
}
@media screen and (max-width:1000px) {
 body {
  box-sizing:border-box
 }
 #content {
  min-width:100%
 }
 .adsbygoogle {
  max-width:200px;
  max-height:60px
 }
 #content .innerWrapper,
 .branding,
 .menu.main,
 #footer,
 #footerprint {
  margin:0 auto;
  max-width:100%;
  min-width:90%;
  padding-left:8px;
  padding-right:8px;
  position:relative
 }
 .table-col-1 {
  width:58%
 }
 .table-col-3 {
  width:28%
 }
 .branding,
 .menu.main {
  padding:0 2%
 }
 #footer {
  margin:0 25px;
  padding:40px 0
 }
 .top-right-nav {
  width:auto
 }
 .my-account-student {
  margin-right:0
 }
 #testTable th {
  text-align:center;
  padding:16px 10px
 }
 #testTable td {
  padding:16px 10px
 }
 .text {
  margin-top:0
 }
 .radio-icon {
  margin-right:10px
 }
 div.sarow {
  width:90%
 }
 .settings-box h3.cat-stats {
  width:60%
 }
 .custom-student-message img {
  max-width:98%!important
 }
 .testres {
  min-width:300px
 }
}
@media screen and (max-width:820px) {
 #testTable .prev_scores_table,
 #testTable .prev_scores_table tbody,
 #testTable .prev_scores_table tr,
 #testTable .prev_scores_table td {
  display:block
 }
 #testTable .prev_scores_table tr {
  border-bottom:1px solid #ddd;
  padding-top:10px;
  width:100%
 }
 #testTable .prev_scores_table .head-row tr th {
  display:block;
  text-align:left;
  padding:3px 0;
  font-weight:700
 }
 #testTable .prev_scores_table .tr_prev_scores td {
  border:none;
  position:relative;
  padding:0 5px 5px 0;
  white-space:normal;
  text-align:left
 }
 #testTable .prev_scores_table .tr_prev_scores td:before {
  position:absolute;
  top:0;
  left:0;
  width:40%;
  padding-right:0;
  padding-left:0;
  white-space:nowrap;
  text-align:left;
  content:none;
  font-size:12px
 }
}
@media screen and (max-width:750px) {
 .namepad {
  padding:2px 0
 }
 #footercontent {
  width:94%;
  line-height:16px;
  margin-top:25px;
  margin-left:8px
 }
 .student-page,
 .student-asside {
  width:100%;
  float:left
 }
 .table-col-1,
 .table-col-2,
 .col-span-1,
 .v3QuizHolder,
 .v3QuizHolderFeedback,
 .qsholder,
 .classmarker_content {
  width:100%
 }
 .nextprev {
  margin:12px 0 24px
 }
 .answersDiv textarea,
 .answersDiv input {
  width:100%;
  margin-left:-10px!important
 }
 .ans_content {
  margin-left:15px
 }
 #footer {
  background:url(../img3/retina/cm-loggedin-logo-footer_3x.png) no-repeat scroll 7px 32px transparent;
  margin:0 15px;
  background-size:136px 21px
 }
 .clearheightresponsive30 {
  clear:both;
  height:60px;
  width:auto
 }
 .clear-ads-responsive {
  width:100%;
  margin-top:15px
 }
 .col600 {
  width:92.714285714%;
  float:none;
  margin:2.857142857%
 }
 .qsholder {
  width:95%;
  margin:10px;
  font-size:15px
 }
 #display_q_links td,
 .qsholder,
 .qsholder p,
 .qsholder img,
 .qsholder iframe {
  display:block!important;
  height:auto
 }
 .bbcode ol,
 .bbcode ul {
  margin-left:12px;
  width:95%
 }
 .qsholder iframe,
 .bbcode iframe {
  width:100%
 }
 .mcanswersDiv {
  margin-left:10px
 }
 .prev_questions_marge {
  margin-left:0
 }
}
@media screen and (max-width:665px) {
 .key-element {
  clear:both
 }
 .imgw {
  max-width:98%!important
 }
 .result-col-1,
 .result-col-2 {
  width:100%
 }
 #footer {
  margin:0 10px
 }
 #footercontent ul {
  margin-left:-5px
 }
 #footercontent ul li {
  white-space:nowrap
 }
 #footercontent ul li:first-child {
  padding-left:5px
 }
 #testTable,
 #testTable tbody,
 #testTable tr,
 #testTable td {
  display:block
 }
 #testTable {
  border:1px solid #aaa
 }
 #testTable tr {
  border-bottom:1px solid #ddd;
  padding-top:10px
 }
 #testTable>thead.head-row {
  display:none
 }
 #testTable td {
  border:none;
  position:relative;
  padding:0 5px 8px 41px;
  white-space:normal;
  text-align:left
 }
 #testTable td:before {
  position:absolute;
  top:0;
  left:15px;
  width:40%;
  padding-right:10px;
  padding-left:25px;
  white-space:nowrap;
  text-align:left;
  font-weight:700;
  font-size:12px
 }
 .res-duration {
  background:url(../img3/icons-sprite.png) no-repeat 0 -5714px;
  margin-left:-4px;
  padding:13px 24px;
  right:6px
 }
 #testTable .nonametitle {
  padding:5px
 }
 #testTable .noactiontitle {
  padding:5px 40px
 }
 #testTable .ad {
  padding:0
 }
 #testTable .nocontent {
  display:none
 }
 #testTable .graph {
  height:10px
 }
 #testTable .value {
  font-size:12px;
  text-align:left!important;
  width:40px!important
 }
 #testTable .notests {
  padding-left:5px
 }
 .category-col-1 {
  width:30%
 }
 .category-col-2 {
  width:50%
 }
}
@media screen and (max-width:600px) {
 .graphics {
  display:none
 }
}
@media screen and (max-width:575px) {
 #preview .graphics {
  display:none
 }
}
@media screen and (max-width:500px) {
 #preview .graphics {
  display:none
 }
}
@media screen and (max-width:425px) {
 #content .innerWrapper,
 .branding,
 .menu.main {
  padding-left:5px;
  padding-right:5px
 }
 #footer {
  margin:0 5px
 }
 .access>ul>li>a {
  font-size:16px;
  padding:12px .5em
 }
 .my-account .account {
  font-size:16px
 }
 .access {
  clear:both
 }
 .upgrade-logout-nav {
  margin-bottom:5px
 }
 .m_answer_key {
  width:1%;
  padding:5px
 }
 .mvholder td {
  width:100%;
  display:block;
  height:auto
 }
 .v_result {
  margin-left:20px
 }
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
 .edit-symbol,
 .settings-box .cat-stats-icon,
 .settings-box .cat-stats-icon.payments-icon,
 a.edit-test,
 a.edit-group,
 a.edit-link,
 a.assign-test,
 a.assign-to-group,
 a.view-analytics,
 #show_selected_letters,
 .menu-sections li,
 .home-name,
 .results-name,
 .certificate-name,
 .icon-calendar,
 .icon-calendar-green,
 .test-name,
 .group-name,
 .link-name,
 .stat-name,
 .search-name,
 .member-name,
 .question-name,
 .theme-name,
 .media-name,
 .category-name,
 .certificate-name,
 .accesslist-name,
 .community-name,
 .tick,
 .dropdown-x>a,
 .tooltip,
 .dropdown-x label a,
 .btn-create .caret,
 .btn-actions .caret,
 .btn.dropdown-toggle .caret,
 .btn.dropdown-toggle .caret,
 .btn-assign.alt-a,
 .btn.btn-toggle-analytics,
 .table .result-fail,
 .table .result-pass,
 .table .result-grading,
 .write-pre,
 .write-ol,
 .write-ul,
 .write-font-link,
 .write-video,
 .user-manual,
 .write-center,
 .write-bold,
 .write-fontM,
 .write-fontL,
 .write-fontS,
 .write-question-preview,
 .write-sub,
 .write-sup,
 .write-italic,
 .write-underline,
 .write-line-through,
 .write-square-root,
 .write-image,
 .write-font-color,
 .video-help,
 .step-by-step,
 .accordion-toggle.open>.caret,
 .accordion-toggle.closed>.caret,
 .btn.dropdown-toggle .caret,
 .btn-add-wysiwyg,
 #show_selected_letters,
 .res-duration {
  background-image:url(../img3/icons-sprite_3x.png?v=1);
  background-size:46px 6889px
 }
}
