		<div class="col-span-5 col result-col-1">
			
			<h2 class="member-name-medium name-medium">Paul Smith</h2><h2 class="user-email-name name"><a href="mailto:paul@yahoo.com">paul@yahoo.com</a></h2><h2 class="ip-address-name name">IP: 195.181.65.111</h2><h2 class="test-name name">1</h2><h2 class="group-name name">0</h2><h2 class="all-user-results-name name"><a class="noprint" href="/a/results/rguser/?user_id=8879676&amp;rg_id=592380">Go to all results for Paul</a></h2></div><div class="col-span-1">&nbsp;</div><div class="col-span-4 result-col-2"><div class="testres"><div class="score grade"><span id="percentagespan">0</span>%</div><div class="testresleft"><div>Points:</div><div>Duration:</div><div>Date started:</div><div>Date finished:</div><div class="noprint">Attempts:</div></div><div class="testresright"><div><span id="pointsscoredspan">0</span>&nbsp;out of <span id="pointsavailablespan">20</span></div><div id="resultsdiv_duration_tt">00:01:01</div><div id="resultsdiv_datestarted_tt">Mon 2 Nov '20 12:19</div><div id="resultsdiv_datefinished_tt">Mon 2 Nov '20 12:20</div><div class="little"><a href="#" class="anchor_scroll_attempts showcont">Unlimited</a>
				</div>
				</div>
				<div><p><a class="littlelink showcont noprint" href="#" id="tog_s">Show previous scores</a></p><div id="dotog_s" class="hide table" style="display: none;"><div class="row previous-scores">
							<div class="col-span-3">1st</div>
							<div class="col-span-7 graph">
								<span class="value">11.1%</span>
								<div class="graphics">
									<span class="bar-graph" style="width: 11px;">&nbsp;</span>
								</div>
							</div>
						  </div></div></div></div></div><div class="clearheight"></div><a class="scroll_attempts open"></a>
			<div class="noprint table hide" style="display: none;">
				<div class="row">
					<h4>Edit Attempts Allowed.<a class="closeTable right" href="#"><span>Close</span></a></h4><p class="littledark">This Test is currently set for unlimited attempts allowed.
				You can only restrict or give more attempts for individuals when a specific number of attempts has been set for the Test.</p>
				<p class="littledark">To edit the Attempts allowed setting for all Members of this Group at once, go to your Tests page and select 'Settings' for this Group.</p></div>
			</div><div class="alert-box editor ">Score not final, some questions require manual grading.</div><div class="alert-box editor ">This Test was automatically finished when either:<br>1. Its time limit was reached when taking the Test.<br>2. An attempt to resume this Test was not allowed due to date or time limits.</div> <a id="toggroup_01_reopen" class=" btn btn-analytics noprint">Reopen</a>  <a id="toggroup_01_sendemail" class=" btn btn-analytics noprint">Email Results</a>  <a id="toggroup_01_delete" class=" btn btn-create noprint">Delete</a><div class="clearheight"></div><div id="dotoggroup_01_sendemail" class="noprint hide" style="display: none;">
				<div class="settings-box noprint cat-stats">
					<div class="accordion-toggle default-pointer">
						<div class="email-icon">@</div>
						<h3 class="cat-stats">Email Results</h3>&nbsp;
						<div class="caret">&nbsp;</div>
				  </div>
				  <div class="accordion-fold accordion-fold-no-top-pad accordion-fold-default-open"><div id="html_email_send_response">
					<div class="table" id="html_email_send">
					<div class="row">
						<p>Select to have these results emailed to this Test taker.</p>
						<a href="#" class="btn btn-analytics" id="trigger_email_send" data-href="/a/tests/rpc/getEmailAssignSettings.rpc.php?user_score_id=8879676&amp;group_id=592380&amp;test_id=1479449&amp;group_type=g">View Email Settings</a>
					</div>
				</div>
				</div></div>
			</div>
		</div><div id="dotoggroup_01_reopen" class="noprint hide" style="display: block;">
		<div class="settings-box noprint cat-stats">
			<div class="accordion-toggle default-pointer">
				<div class="cat-stats-icon reopen-icon"></div>
				<h3 class="cat-stats">Reopen this Test</h3>&nbsp;
				<div class="caret">&nbsp;</div>
			</div>
			<div class="accordion-fold accordion-fold-no-top-pad accordion-fold-default-open">
				<div class="table editor">
					<div class="row"><p>Reopening this Test and allowing it to be resumed will not use another credit.</p>
							<p><strong>Note:</strong> Reopening this Test will remove the Score and Finished Date until the Test is again finished and regraded.</p>
							<form id="createResumeLink" action="/a/tests/rpc/teacherSetTestFinished.php" method="post">
								<input type="hidden" name="user_id" value="8879676">
								<input type="hidden" name="rg_id" value="592380">
								<input type="hidden" name="test_id" value="1479449">
								<input type="hidden" name="set_as_inprogress" value="1"><input type="hidden" name="new_time_limit" value="1"><p><strong>Time Reminding: </strong>0 mins + <input id="extra_time" type="text" name="extra_time" value="0" size="4"> mins <span class="showTooltip tooltip" title="Adding extra time is optional.">Tip</span></p><input id="re_open_test" type="submit" class="btn btn-analytics" value="Reopen Test Now">
							</form></div>
					</div>
				</div>
			</div>
		</div><div id="dotoggroup_01_webhooks" class="noprint hide" style="display: none;"></div><div id="dotoggroup_01_delete" class="noprint hide" style="display: none;">
		<div class="settings-box noprint cat-stats">
		<div class="accordion-toggle default-pointer">
			<div class="email-icon">x</div>
				<h3 class="cat-stats">Delete Test Results</h3>&nbsp;
				<div class="caret">&nbsp;</div>
			</div>
			<div class="accordion-fold accordion-fold-no-top-pad accordion-fold-default-open">
				<div class="table editor">
					<div class="row"><p>Note: Deleting Test results is permanent. If Previous Scores are saved for this User and Test, they will be deleted also.</p>
				<p>If results are waiting to be emailed, they cannot be emailed after deleting.</p>
				<form id="delete_single_result_form" method="post" action="/a/results/delete/">
					<input type="hidden" name="rg_id" value="592380">
					<input type="hidden" name="user_id" value="8879676">
					<input type="hidden" name="test_id" value="1479449">
					<input type="hidden" name="token" value="B6TPPTQ3">
					<input type="hidden" name="group_type" value="reg">
					<input type="hidden" name="dt" value="single"><input type="hidden" name="return" value="json"><div id="msgDivErrorDelete"></div>
				<input class="btn btn-create" type="submit" id="delete_single_result" value="Delete Now">				
				</form></div>
				</div>
				</div>
			</div>
		</div><div class="noprint">
			<div class="settings-box cat-stats">
				<div class="accordion-toggle closed">
					<div class="cat-stats-icon"></div>
					<h3 class="cat-stats">Statistics by Category</h3>&nbsp;
					<div class="caret">&nbsp;</div>
				</div>


			<div class="accordion-fold accordion-fold-no-top-pad" id="dotog_cat_results" style="display: none;">
				<div class="table">
				<div class="table-utility row above">
					<div class="col-span-6 category-col-1">
						<span class="column-title">Category</span>
					</div><div class="col-span-3 category-col-2">
						<span class="column-title"><a href="#" class="sort-trigger" data-sort="desc" data-sort-by="percentage_duration">Percentage</a> <span class="ui-icon ui-icon-triangle-2-n-s"></span></span>
					</div><div class="col-span-1"><span class="column-title">Points</span></div></div>
				<ul class="table-body sort-data-set hover-row"><li data-percentage="95">
						<div class="row">
							<div class="col-span-6 category-col-1">
								<p><span class="qb-parent-cat">Example Parent Category 1 »</span><br> Example Sub Category 1</p>
							</div><div class="col-span-3 category-col-2 graph">
								<span class="value">95%</span>
								<div class="graphics">
									<span class="bar-graph-ref" style="width: 95px;">&nbsp;</span>
									<span class="bar-graph" style="width: 95px;">&nbsp;</span>
								</div>
							</div><div class="col-span-1"><span class="value">19/20</span></div></div>
					</li><li data-percentage="80">
						<div class="row">
							<div class="col-span-6 category-col-1">
								<p><span class="qb-parent-cat">Example Parent Category 1 »</span><br> Example Sub Category 2</p>
							</div><div class="col-span-3 category-col-2 graph">
								<span class="value">80%</span>
								<div class="graphics">
									<span class="bar-graph-ref" style="width: 80px;">&nbsp;</span>
									<span class="bar-graph" style="width: 80px;">&nbsp;</span>
								</div>
							</div><div class="col-span-1"><span class="value">12/15</span></div></div>
					</li><li data-percentage="50">
						<div class="row">
							<div class="col-span-6 category-col-1">
								<p><span class="qb-parent-cat">Example Parent Category 2 »</span><br> Example Sub Category 3</p>
							</div><div class="col-span-3 category-col-2 graph">
								<span class="value">50%</span>
								<div class="graphics">
									<span class="bar-graph-ref" style="width: 50px;">&nbsp;</span>
									<span class="bar-graph" style="width: 50px;">&nbsp;</span>
								</div>
							</div><div class="col-span-1"><span class="value">8/16</span></div></div>
					</li><li><div class="row"><p><strong>This is a sample view of statistics by category.</strong></p><p>Gain access to your Category statistics for each test result. <a href="/a/myaccount/upgrade/">Upgrade now</a>.</p></div></li></ul>
			</div></div></div></div>
			<div class="clearheight"></div><h3>Answers</h3><div class="littledark small">

			<span class="key-element"><img src="/img3/correctv3.png" srcset="/img3/correctv3.png 1x, /img3/correctv3@3x.png 3x" alt="Correctly answered" width="15" height="16"> Correctly answered</span>
			<span class="key-element"><img src="/img3/wrongv3.png" srcset="/img3/wrongv3.png 1x, /img3/wrongv3@3x.png 3x" alt="Incorrectly answered" width="15" height="16"> Incorrectly answered </span><span class="key-element"><img src="/img3/arrow_bluev3.png" srcset="/img3/arrow_bluev3.png 1x, /img3/arrow_bluev3@3x.png 3x" alt="Missed correct option" width="15" height="16"> Missed correct option</span><div class="clearheight5"></div></div>		<script>
			$("document").ready(function () {
				displayQuestionToggleFilterLinks();
			});
		</script>
		<div class="student_question_filter_links"><a href="#" class="view_questions_all">All Questions</a><a href="#" class="view_questions_correct divider_left"><span class="q_qc_count bold">0</span> Correct</a><span class="hide q_qpc_element"><a href="#" class="view_questions_partially_correct divider_left"><span class="q_qpc_count bold">0</span> Partially Correct</a></span><a href="#" class="view_questions_incorrect divider_left"><span class="q_qw_count bold">0</span> Incorrect</a><span class="hide q_qrg_element" style="display: inline;"><a href="#" class="view_questions_require_grading divider_left qfl_active"><span class="q_qrg_count bold">1</span> Require Grading</a></span><span class="hide q_qu_element" style="display: inline;"><a href="#" class="view_questions_unanswered divider_left"><span class="q_qu_count bold">17</span> Unanswered</a></span></div><div class="essay-question-wrap-text-toggle hide noprint" style="display: block;">
			<span class="showTooltip" title="If Test takers Essay Answers contain Programming code such as HTML/JavaScript, you can remove Text wrapping to make the code more readable. Note: Turn on Text Wrapping if Printing results.">
			<input type="checkbox" checked="checked" class="view_results_pre_answer_text_remove_wraping" id="E3KFNR"> 
			<label for="E3KFNR">Wrap Essay Answer Text</label>
			</span>
			</div>
			<div>
				<!-- Req Grading -->
				<div class="qd" style="display: block;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 1 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">15</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text">g</div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385114pointsscored">0</span> out of 1</p><p class="alert-box margright error" id="remove-on-graded23385114">This question requires grading.</p><p class="editpoints"><a class="showcont essay" href="#" id="eprg_23385114_1479449_592380_8879676_1">Edit points</a></p>
				<div class="boxinlineV3 hide" id="diveprg_23385114_1479449_592380_8879676_1" style="display: block;">
					
					<form id="epcounter1" class="editPointsForm" method="post" action="/a/tests/rpc/editPoints.rpc.php"><input type="hidden" name="aid" value="8476536"><input type="hidden" name="ts" value="1605415459"><input type="hidden" name="tv" value="fa712275397c9fad36c2dd74e8ee05eb"><input type="hidden" name="tk" value="KWSA"><input type="hidden" name="tid" value="1479449"><input type="hidden" name="test_type" value="rg"><input type="hidden" name="type" value="rg_edit_points"><input type="hidden" name="gid" value="592380"><input type="hidden" name="question_id" value="23385114"><input type="hidden" name="sid" value="8879676"><h4>Edit Points for this answer:</h4>Select points for this answer: <select name="points"><option value="0">0</option><option value="0.1">0.1</option><option value="0.2">0.2</option><option value="0.3">0.3</option><option value="0.4">0.4</option><option value="0.5">0.5</option><option value="0.6">0.6</option><option value="0.7">0.7</option><option value="0.8">0.8</option><option value="0.9">0.9</option><option value="1">1</option></select> or <span class="little"><a href="#" onclick="$('#epcounter1 select[name=points] option:last-child').prop('selected', true);return false;">Set full points</a></span><div class="clearheight"></div><input type="hidden" name="essay" value="1"><p><br><textarea cols="40" rows="3" disabled="disabled">Upgrade to ClassMarker Professional to add feedback</textarea></p><a class="savepoints btn btn-create">Save</a> <a class="btn cancelbtn">Cancel</a></form>
	
	</div><i class="qrg"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 2 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">is this true</div>
		<div class="dotted_quiz"></div><p class="chosen">Correct answer: <strong>A)</strong><br>Selected answer: <strong>No answer given</strong></p><div class="sarow">
			<div class="satick"><img src="/img3/arrow_bluev3.png" srcset="/img3/arrow_bluev3.png 1x, /img3/arrow_bluev3@3x.png 3x" alt="Missed correct answer" width="15" height="16"></div>
			<div class="saabc">A) </div>
			<div class="saans  editor">True</div></div><div class="sarow">
			<div class="satick">&nbsp;</div>
			<div class="saabc">B) </div>
			<div class="saans  editor">False</div></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23341064pointsscored">0</span> out of 1</p><i class="qu"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 3 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">2</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23931491pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 4 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">2</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385025pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 5 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">e</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23928468pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 6 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">asd</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
		<div class="tsatick"><img src="/img3/wrongv3.png" srcset="/img3/wrongv3.png 1x, /img3/wrongv3@3x.png 3x" alt="Incorrect answer" width="15" height="16"></div>
		<div class="tsaans editor"><strong>No answer given</strong></div></div><div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaansheader">Accepted answers:</div></div>

			<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor">ad<br>sf<br>f<br>d<br></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23344388pointsscored">0</span> out of 1</p><i class="qu"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 7 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">1</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385021pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 8 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">17</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385118pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 9 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">a</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23452104pointsscored">0</span> out of 2</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 10 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">inco</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
		<div class="tsatick"><img src="/img3/wrongv3.png" srcset="/img3/wrongv3.png 1x, /img3/wrongv3@3x.png 3x" alt="Incorrect answer" width="15" height="16"></div>
		<div class="tsaans editor"><strong>No answer given</strong></div></div><div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaansheader">Correct answer:</div></div>

			<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor">corr</div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23344506pointsscored">0</span> out of 1</p><i class="qu"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 11 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">34</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385140pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 12 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">klk;lk</div>
		<div class="dotted_quiz"></div><p class="chosen">Correct answer: <strong>A) </strong><br>Selected answer: <strong>No answer given</strong></p><div class="sarow">
			<div class="satick"><img src="/img3/arrow_bluev3.png" srcset="/img3/arrow_bluev3.png 1x, /img3/arrow_bluev3@3x.png 3x" alt="Missed correct answer" width="15" height="16"></div>
			<div class="saabc">A) </div>
			<div class="saans ">k</div></div><div class="sarow">
			<div class="satick">&nbsp;</div>
			<div class="saabc">B) </div>
			<div class="saans ">&nbsp;lkkjlkj</div></div><div class="dotted_quiz"></div><p class="chosen">You did not select all available correct options.</p><p class="headlinetop"><strong>Points:</strong> <span id="23442309pointsscored">0</span> out of 2</p><i class="qu"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 13 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">44</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385160pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 14 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">99</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385202pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 15 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  bbcode editor qpad"><strong>I am ....</strong></div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
		<div class="tsatick"><img src="/img3/wrongv3.png" srcset="/img3/wrongv3.png 1x, /img3/wrongv3@3x.png 3x" alt="Incorrect answer" width="15" height="16"></div>
		<div class="tsaans editor"><strong>No answer given</strong></div></div><div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaansheader">Accepted answers:</div></div>

			<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor">happy<br>sad<br></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="24588589pointsscored">0</span> out of 1</p><i class="qu"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 16 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">14</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div></div><div class="clearheight"></div><div class="dotted_quiz"></div><p class="headlinetop"><strong>Points:</strong> <span id="23385112pointsscored">0</span> out of 1</p><i class="qu"></i><i class="qytpe_essay"></i></div></div>
				</div>
				
				<div class="qd" style="display: none;">
					<div class="single_question_box">
						<div class="qbox">
							<div class="qboxprogress">
								<h2>Question 17 of 18</h2>
							</div>
							<div class="qboxcatsonly">Generic</div>
							<div class="clear"></div>
						</div>
						<div class="col600">
							<div class="qsholder  editor qpad">k</div>
							<div class="dotted_quiz"></div>
							<div class="tsarow">
								<div class="tsatick">&nbsp;</div>
								<div class="tsaansheader">Answer given:</div>
							</div>
							<div class="tsarow">
								<div class="tsatick">&nbsp;</div>
								<div class="tsaans editor pre_answer_text"><strong>No answer given</strong></div>
							</div>
							<div class="clearheight"></div>
							<div class="dotted_quiz"></div>
							<p class="headlinetop"><strong>Points:</strong> <span id="23876765pointsscored">0</span> out of 1</p>
							
							<i class="qu"></i>
							<i class="qytpe_essay"></i>
						</div>
					</div>
				</div>
				
				<div class="qd" style="display: none;"><div class="single_question_box"><div class="qbox">
		<div class="qboxprogress"><h2>Question 18 of 18</h2></div><div class="qboxcatsonly">Generic</div><div class="clear"></div>
		</div>
<div class="col600">
		<div class="qsholder  editor qpad">this is bad.</div>
		<div class="dotted_quiz"></div><div class="tsarow">
		<div class="tsatick">&nbsp;</div>
		<div class="tsaansheader">Answer given:</div></div>

		<div class="tsarow">
		<div class="tsatick"><img src="/img3/wrongv3.png" srcset="/img3/wrongv3.png 1x, /img3/wrongv3@3x.png 3x" alt="Incorrect answer" width="15" height="16"></div>
		<div class="tsaans editor"><strong>No answer given</strong></div></div><div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaansheader">Correct answer:</div></div>

			<div class="tsarow">
			<div class="tsatick">&nbsp;</div>
			<div class="tsaans editor">this is not bad.</div>
	</div>
	<div class="clearheight"></div>
	<div class="dotted_quiz"></div>
		<p class="headlinetop"><strong>Points:</strong><span id="24588594pointsscored">0</span> out of 1</p>
		<i class="qu"></i>
				</div>
				</div>
				</div>
				
			<script>
				/* If looking at Essay question results, show option for toggle "text wrap" */
				$('.pre_answer_text_toggle').show();
			</script>
		</div>
		<script>
			var epcounter = 0;//used to create unique form id reference, for resubmitting IE aborted posts
			$(document).ready(function() {
				$('[id^="eprg_"]').click(function(e) {
					e.preventDefault();
					epcounter++;
						array = this.id.split("_");
						qid=array[1];
						tid=array[2];
						gid=array[3];
						uid=array[4];
						available=parseFloat(array[5].replace('-', '.'));
						form='<form id="epcounter'+epcounter+'" class="editPointsForm" method="post" action="/a/tests/rpc/editPoints.rpc.php">';
						form+='<input type="hidden" name="aid" value="8476536"/>';
						form+='<input type="hidden" name="ts" value="1605415459"/>';
						form+='<input type="hidden" name="tv" value="fa712275397c9fad36c2dd74e8ee05eb"/>';
						form+='<input type="hidden" name="tk" value="KWSA"/>';
						form+='<input type="hidden" name="tid" value="'+tid+'"/>';
						form+='<input type="hidden" name="test_type" value="rg"/>';
						form+='<input type="hidden" name="type" value="rg_edit_points" />';
						form+='<input type="hidden" name="gid" value="'+gid+'"/>';
						form+='<input type="hidden" name="question_id" value="'+qid+'"/>';
						form+='<input type="hidden" name="sid" value="'+uid+'"/>';
						form+='<h4>Edit Points for this answer:</h4>';
						form+='Select points for this answer: <select name="points">';
						for(i = 0; i <= available; i++){
							form+='<option value="'+i+'">'+i+'</option>';
							for(d = 1; d <= 9; d++){
								if ((i+'.'+d) <= available){
									form+='<option value="'+i+'.'+d+'">'+i+'.'+d+'</option>';
								}
							}
						}
						form+='</select> or <span class="little"><a href="#" onclick="$(\'#epcounter'+epcounter+' select[name=points] option:last-child\').prop(\'selected\', true);return false;">Set full points</a></span>';
						form+='<div class="clearheight"></div>';
						if ($(this).attr('class').search( "essay" ) != -1){
														form+='<input type="hidden" name="essay" value="1"/>';
							form+='<p><br /><textarea cols="40" rows="3" disabled="disabled">Upgrade to ClassMarker Professional to add feedback</textarea></p>';
					};
					form+='<a class="savepoints btn btn-create">Save</a> <a class="btn cancelbtn">Cancel</a>';
					form += '</form>';
					$('#div' + this.id).html(form);
					$('.savepoints').bind('click', function(e) {
						e.preventDefault();
							/* Bind editPointsForm */
						$('.editPointsForm').ajaxForm( {
							dataType : 		'json',
							beforeSerialize: beforeSerializeGenericAllForms,
							success:     	 editPointsFormResponse,
							error: 			 genericError
						});
						$(this).closest("form").submit();
						$(this).closest("div").slideUp(300);
					});
					$('.cancelbtn').bind('click', function() {
						$(this).closest("div").slideUp(300);
					});
					$('#div' + this.id).slideDown(300);
					$('#div' + this.id).slideDown(300);
				});
			});
		</script>
		<script>
			if (typeof(ga) == 'function'){
				ga('set', 'page', '/test/results/?test_id=1479449&rg_id=592380&user_id=8879676&show_overlay=1');
				ga('send', 'pageview');
			}
		</script>