<%-include("../questions/new/newHeader")%>
<link rel="stylesheet" type="text/css" href="/stylesheets/cmhome.css" media="screen">

<div id="main" class="features-box2">
	<div class="col-full">
		<div class="contactus-box">
			<div id="contact-promo-1">
				<h4>Step by Step instructions</h4>
				<a class="btn btn-analytics" href="/online-testing/manual/?trk=contactus">View User Manual</a>
			</div>
			<div id="contact-promo-2">
				<h4><label for="helpsearch">Search Help/FAQ</label></h4>
				<form action="/online-testing/faq/?trk=contactus" method="get">
					<input class="textinput" type="text" name="query" id="helpsearch">
					<input type="submit" class="btn btn-create" value="Search">
				</form>
				<a href="/online-testing/faq/?trk=contactus" class="textlink">
					View the FAQ
				</a>
			</div>
			<div class="clearheight30"></div>
			<div id="contact-promo-3">
				<h4>***** Demonstration Video</h4>
				<a href="#" class="video5"><img src="/img3/home/features_0.png" alt="Quiz Maker for Professionals &amp; Educators Video" class="vid-img shake-and-bake img-shadow" width="250"></a>
			</div>
			<div class="clearheight"></div>
			<form method="post" action="/online-testing/contact-us/" id="contactus">

				<h4>Contact *****</h4>
				<p>***** offers Support 7 Days a Week</p>
				<div class="clearheight"></div>
				<label for="contact_name">Your Name *</label><br>
				<input type="text" name="name" id="contact_name" value="">
				<div class="clearheight"></div>
			 	<label for="contact_uname">***** Username (If registered)</label><br>
			 	<input class="textinput" type="text" name="cust_username" id="contact_uname" value="">
				<div class="clearheight"></div>
				<label for="contact_email">Your Email Address *</label><br>
				<input class="textinput" type="text" name="email" id="contact_email" value="">
				<div class="clearheight"></div>
				<div class="hide"><input class="textinput" type="text" name="active_status" value=""></div>
				<label for="contact_type">Contact Type</label><br>
				<select name="contact_type" id="contact_type" class="select-box hasCustomSelect" style="appearance: menulist-button; width: 548px; position: absolute; opacity: 0; height: 37px; font-size: 18px;">
					<option value="" selected="selected">-- Select one --</option>
					<option value="Q">General Question</option>
					<option value="SQ">Sales Query</option>
					<option value="B">Accounts</option>
					<option value="F">Feedback</option>
					<option value="SG">New Feature Suggestion</option>
					<option value="NV">New Vendor Set Up</option>
				</select>
				<span class="customSelect select-box hasCustomSelect" style="display: inline-block;"><span class="customSelectInner" style="width: 508px; display: inline-block;">-- Select one --</span></span>
				<div class="clearheight"></div>
            	<div id="app" data-v-app="">
					<label for="contact_subject">Subject *</label><br>
					<input class="textinput" type="text" name="subject" id="contact_subject">
					<div class="clearheight"></div>
					<label for="contact_body">Question / Message *</label>
					<br>
					<textarea cols="50" rows="3" name="body" id="contact_body" class="showTooltipHTML" title="Please be as descriptive as possible. This will better help us help you!<br/><br/>This box will expand as you type."></textarea>
					<div class="clearheight"></div>
					<div class="instant-answers">
						<!----><div class="instant-answers-content">
						<h4>Instant Answers</h4>
						<p id="tog_6"><a href="#" class="showcont">How do Credits work?</a></p>
						<div class="hide" id="dotog_6">
							<p>Each time one of your tests is taken, only 1 credit is used. If 2 people take a Test, 2 credits are used. (Each Credit includes certificate downloading, results emailed included).</p></div><p id="tog_1"><a href="#" class="showcont">How to Edit Test settings?</a></p><div class="hide" id="dotog_1"><p><strong>To edit the Questions in your Test</strong><br>Go to the Tests section and select 'Edit' under your test.</p><p><strong>Edit settings used when Taking Tests</strong><br>If you want to edit the settings such as Time limit, Test availability, Passmark, Feedback and more, to go the Tests section and select 'Settings' under your Test next to the Group or Link you wish to edit the settings for.</p></div><p id="tog_7"><a href="#" class="showcont">How to use Random Questions?</a></p><div class="hide" id="dotog_7"><p>You can select to randomize Questions when you assign your test.</p><p>Of you can have questions selected at random, each time your test is taken. Learn: <a href="/a/help/manual/?trk=contactus#autoquestions">Random Questions</a></p></div><p id="tog_5"><a href="#" class="showcont">Can I add multiple administrators?</a></p><div class="hide" id="dotog_5"><p>Yes. You can create additional logins for "Assistants" to help manage your account. Each assistant can have separate permissions as required. There is no extra cost for creating Assistants. See: <a href="/a/help/manual/?trk=contactus#assistants">How to Create Assistants</a></p></div></div></div></div>


			

			<div class="clearheight"></div>
			<div class="g-recaptcha" data-sitekey="6LdYA8ESAAAAADltWQgEEbqesOKuJr8zN9KRpBUL"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdYA8ESAAAAADltWQgEEbqesOKuJr8zN9KRpBUL&amp;co=aHR0cHM6Ly93d3cuY2xhc3NtYXJrZXIuY29tOjQ0Mw..&amp;hl=en&amp;v=Y5tQ3lKwn1XL5hGgLz1kR4-1&amp;size=normal&amp;cb=g45hdv1tukz6" role="presentation" name="a-693bzr7xbuer" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" width="304" height="78" frameborder="0"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>			<div class="clearheight30"></div>
			<p class="nopad">
				<strong>Please check</strong> your email address above is correct to ensure we can reply to you.</p>


			<input type="submit" class="submit btn btn-create" id="register-button" value="Email *****" title="Email *****">

						<input type="hidden" name="TOKEN" value="E7MCD4GNACRJHTAP4KGE">


		</form>

		<script>
			$("document").ready(function () {
				$('#register-button').click(function (e) {
					$(this).val('Sending Email ...');
				});
			});

		</script>

        <script>

            const App = {
                data() {
                    return {
                        message: '',
                        subject: '',
                        supportAnswers: [],
                        results: []
                    }
                },
                mounted() {
                    this.supportAnswers = [{"title":"How do Random Questions work?","description":"You can have questions given in random order, or, Randomly selected by Category, each time your test is taken.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#autoquestions","keywords":["Random","Random Question","Different Question","Randomize question","randomize","Randomise question","randomise"],"group":1},{"title":"Randomly Selected Questions","description":"You can have questions given in random order, or, Randomly selected by Category, each time your test is taken.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#autoquestions","keywords":["selected","randomly"],"group":1},{"title":"Questions Pulled at Random (from Question Bank)","description":"You can have questions given in random order, or, Randomly selected by Category, each time your test is taken.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#autoquestions","keywords":["pulled","question bank"],"group":1},{"title":"Cannot Login?","description":"You can retrieve your account username and reset your account password by using one of the options on the ‘Forgot Details’ page.","url":"https://www.*****.com/login/forgot/?trk=support_answers","keywords":["login","log","logging","access","reset","forgot","details","account"],"group":2},{"title":"Forgot Username","description":"You can retrieve your account username and reset your account password by using one of the options on the ‘Forgot Details’ page.","url":"https://www.*****.com/login/forgot/?trk=support_answers","keywords":["forgot","remember","username","don’t know","user name","retrieve"],"group":3},{"title":"Forgot Password","description":"You can retrieve your account username and reset your account password by using one of the options on the ‘Forgot Details’ page.","url":"https://www.*****.com/login/forgot/?trk=support_answers","keywords":["forgot","password","pass word","not matching","reset","don't know","remember","retrieve"],"group":4},{"title":"Customize Receipts","description":"You can download and edit the ‘Contact’ section of your receipt to include company details from your My Account page.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#downloadreceipts","keywords":["customize receipt","edit receipt","change receipt","edit invoice","customize invoice"],"group":5},{"title":"Download Receipts / Customize Receipts","description":"You can download (and edit your organization details on) your receipt for recent and past purchases made online from your ‘My Account’ page.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#downloadreceipts","keywords":["receipt","invoice","payment","invoice","charges","credit card","bank","tax","details","company","organization","address","paid"],"group":5},{"title":"Change Administrator Username","description":"You can change your account administrator details or transfer to another user (name, username, email, password) from your My Accounts page.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#myaccount","keywords":["change administrator username","change admin username","admin username","change username","account username","username"],"group":6},{"title":"Change Administrator","description":"You can change your account administrator details or transfer to another user (name, username, email, password) from your My Accounts page","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#myaccount","keywords":["administrator","instructor","admin","details","email","assistant","handover","Change"],"group":6},{"title":"Transfer Account to New Administrator","description":"You can change your account administrator details or transfer to another user (name, username, email, password) from your My Accounts page.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#myaccount","keywords":["transfer","new admin"],"group":6},{"title":"Change Account Holder","description":"You can change your account administrator details or transfer to another user (name, username, email, password) from your My Accounts page.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#myaccount","keywords":["holder"],"group":6},{"title":"Add Multiple Administrators","description":"You can add multiple Administrators to your account, to assist with administrative/Test tasks.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#assistants","keywords":["multiple","extra","adding","instructor","administrator"],"group":7},{"title":"Add Multiple Instructors","description":"You can add multiple Administrators (Assistants) to your account, to assist with administrative/Test tasks.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#assistants","keywords":["multiple instructor","add multiple instructor","adding instructor","additional instructor","extra instructors"],"group":7},{"title":"Add Invigilators","description":"You can add multiple Administrators to your account, to assist with administrative/Test tasks.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#assistants","keywords":["invigilator"],"group":8},{"title":"Add Assistants","description":"You can add multiple Administrators to your account, to assist with administrative/Test tasks.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#assistants","keywords":["assistant","instructor","administrator"],"group":9},{"title":"Duplicate Test","description":"You can duplicate Tests, to make slight variations without affecting the original Test or Copy Tests to assign with different settings.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#duplicatetest","keywords":["duplicate","duplicating","clone"],"group":10},{"title":"Copy Test","description":"You can duplicate Tests, to make slight variations without affecting the original Test or Copy Tests to assign with different settings.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#duplicatetest","keywords":["copy","copying"],"group":10},{"title":"Assign Same Test to Different Users","description":"You can duplicate Tests, to make slight variations without affecting the original Test or Copy Tests to assign with different settings.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#duplicatetest","keywords":["assign","assigning"],"group":11},{"title":"Edit Grades","description":"You can edit the point values for given answers and grade essay questions from user’s individual results pages.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#grading","keywords":["edit","grade","score","percentage","point","grading","manually"],"group":12},{"title":"Change Grading","description":"You can edit the point values for given answers and grade essay questions from user’s individual results pages.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#grading","keywords":["change grade","changing grading","change point value"],"group":12},{"title":"Grade Essay Questions","description":"You can edit the point values for given answers and grade essay questions from user’s individual results pages.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#grading","keywords":["essay"],"group":13},{"title":"Grade Open-Ended Questions","description":"You can edit the point values for given answers and grade essay questions from user’s individual results pages.","url":"https://www.*****.com/online-testing/manual/?trk=support_answers#grading","keywords":["open ended","open- ended"],"group":14}];
                },
                methods: {
                    subjectSearch() {
                        let subject = this.subject.trim().toLowerCase();
                        this.filteredAnswers(subject);
                    },
                    messageSearch() {
                        let message = this.message.trim().toLowerCase();
                        this.filteredAnswers(message);
                    },
                    filteredAnswers(searchString) {
                        let supportAnswers = this.supportAnswers;

                        for (let i = 0; i < supportAnswers.length; i++) {
                            let element = supportAnswers[i]["keywords"];

                            let matches = element.filter(function(keyword) {
                                keyword = keyword.trim().toLowerCase();
                                return searchString.includes(keyword);
                            });

                            if (matches.length > 0) {
                                this.addAnswer(supportAnswers[i]);
                            }
                        }
                    },
                    addAnswer(answer) {
                        let results = this.results;
                        let match = false;

                        for (let i = 0; i < results.length; i++) {
                            const element = results[i];

                            if (element.group === answer.group) {
                                match = true;
                            }
                        }
                        if (!match) {
                            results.push(answer);
                        }
                    }
                }
            }
            Vue.createApp(App).mount('#app');
        </script>
	</div>
	</div>
</div>