<%-include("../questions/new/newHeader")%>
<link rel="stylesheet" type="text/css" href="/stylesheets/cmhome.css" media="screen">
<div id="main" class="white-bg">
	<div class="col-full">
		<div class="terms-box">
			<h2>Terms and Conditions</h2>
			<p><span class="littledark">Effective Date: 1 Aug 2019 *****</span></p>
			<p>This Website is intended for use by educational, professional and commercial organisations.
				By accessing and using this Website (as defined below) or any portion thereof, You accept and agree to
				be bound by these Terms except if you are resident in the EU, in which case please see Section 10 below.
				You should review these Terms carefully; if You do not accept these Terms, You must not access or use the Website.</p>

			<p>Our <a href="/online-testing/privacy/">Privacy Policy</a> and all other notices, communications and terms specific to certain Services
				(<strong>Additional Information</strong>) We provide through the Website will form part of these Terms.  To the
				extent of any inconsistency or conflict between the Privacy Policy, the Additional Information
				and these Terms, the Privacy Policy will prevail followed by these Terms and then the Additional
				Information.</p>

						<p>By using this Website, You represent, acknowledge and agree that You are at least 18 years of age,
				or if You are under 18 years of age (a <strong>Minor</strong>), that You are using the Website with the consent
				of Your parent or legal guardian and that You have received Your parent's or legal guardian's
				permission to use the Website and agree to its Terms. If You are a parent or legal guardian of a
				Minor, You hereby agree to bind the Minor to these Terms and to fully indemnify and hold Us harmless
				if the Minor breaches any of these Terms.</p>





			<h3>1. Definitions</h3>
			<p>
				<strong>Account</strong> means an account registered through the Website.</p>
			<p>
				<strong>Application</strong> means a method of accessing the Website other than
				navigating to the Website using a web browser.</p>
			<p>
				<strong>Content</strong> means data, information, text, blogs, images, movies,
				animations and any other digital media whether currently existing or
				not that may be displayed, delivered through or otherwise embodied in
				the Website.</p>
			<p>
				<strong>Credit Pack</strong> means a Service where Members pay a Fee and are
				issued a limited number of Credits based on the number of tests that
				they (or Related Users) wish to take.</p>
			<p>
				<strong>Credits</strong> means the allocated number of credits a Member
				receives based on the type of Credit Pack or Professional Plan
				purchased.
			</p>
			<p>
				<strong>Direct Communication</strong> means email, SMS, instant message or any
				other direct electronic communication.</p>
			<p>
				<strong>Fee</strong> means any fee required to become or maintain the status of
				Paid Member.</p>
			<p>
				<strong>Instructor</strong> means a Member who has registered an administrator
				account on the Website to create and administer tests, polls and
				learning content.</p>
			<p>
				<strong>Intellectual Property</strong> means all present and future rights to
				trade marks, domain names, logos, patents, inventions, copyrights and
				all similar rights in any part of the world whether registered or
				unregistered.</p>
			<p>
				<strong>Material</strong> means any Content submitted to the Website by You.</p>
			<p>
				<strong>Member</strong> means a Registered Member or Paid Member.</p>
			<p>
				<strong>Paid Member</strong> means a Registered Member that has complied with
				the requirements in clause 5(a).</p>
			<p>
				<strong>Professional Plan</strong> means a Service where Members pay a Fee and
				are issued a limited number of Credits to be used any given month of
				for the Professional Plan Term. The number of monthly Credits
				purchased will be reset each month according to clause 7(a).</p>
			<p>
				<strong>Professional Plan Term</strong> means (a) where the Member has a
				non-recurring Professional Plan subscription, 12 months from the date
				on which a Member purchases a Professional Plan; or (b) where the
				Member has a recurring Professional Plan subscription, the term will
				commence on the date on which a Member purchases a Professional Plan
				and end on the date on which a member cancels their Professional Plan
				subscription.</p>
			<p>
				<strong>Registered Member</strong> means a person, or organisation that has
				registered an Account.</p>
			<p>
				<strong>Related User</strong> means a User who is registered by an Instructor,
				registered an account using a registration code or taken tests under an instructor account.
			</p>
			<p>
				<strong>Terms</strong> means these website terms and conditions between You and
				Us.</p>
			<p>
				<strong>Tools</strong> means online calculators and other analytical tools,
				templates, formulas or software available through the Website which
				can analyse user provided data and generate reports and other outputs
				based on that data.</p>
			<p>
				<strong>Transaction</strong> means any purchase of or payment for Services or
				Tools facilitated via the Website.</p>
			<p>
				<strong>Our, We, Us</strong> means ***** Pty Ltd (ACN 140 552 389).</p>
			<p>
				<strong>Service</strong> means any services offered by Us through the Website.</p>
			<p>
				<strong>User</strong> means any person who uses the Website, including to take
				tests.</p>
			<p>
				<strong>Website</strong> means Content, Material, information, features, Tools
				and Services and Applications We make available through URL at
				www.*****.com, whether currently existing or developed
				in the future.</p>
			<p>
				<strong>Yearly Professional Plan </strong>means a Professional Plan that is 12
				calendar months.
			</p>
			<p>
				<strong>Yearly Professional Plans Term</strong> means 12 calendar months from
				the date on which a Member purchases a Yearly Professional Plan.
			</p>
			<p>
				<strong>You, Your</strong> mean the customer or user of the Website, including
				a Member or User.
			</p>



			<h3>2. Access and use of the Website</h3>

			<ol class="star loweralpha">
				<li>You may access and use the Website subject to these Terms (including the payment of any applicable Fees).</li>
				<li>You acknowledge and accept that access to and use of parts of the Website, Tools, and Services offered on the Website may:
					<ol class="star">
						<li>be restricted;</li>
						<li>be subject to disclaimers, terms and conditions in addition to these Terms; and/or</li>
						<li>require payment of a Fee.</li>
					</ol></li>
				<li>The imposition or removal of any access or use restrictions for any part of the Website is at Our sole discretion.</li>
			</ol>




			<h3>3. Privacy</h3>
			<p>You agree that You will comply with your obligations under applicable data protection laws and acknowledge
				that You have provided notice and where required obtained (or will obtain) any consents necessary under
				applicable data protection laws to allow Us (i) to process Your personal data and that of any Member within
				Your organization, or of any person You register or provide a pre-registered ID, and (ii) to provide the
				Services pursuant to these Terms and any Data Protection Addendum. </p>

			<p>We will process Member personal data only for the purposes described in these Terms and any
				Data Protection Addendum, and only in accordance with Your documented lawful instructions. </p>


			<h3>4. Registering an Account and becoming a Registered Member</h3>

			<ol class="star loweralpha">
				<li>To register an Account, You must:
					<ol class="star">
						<li>enter a valid and operating email address, a password and all
							other information requested in the registration section of the
							Website; and</li>
						<li>signify Your acceptance of these Terms.</li>
					</ol>
				</li>
				<li>Accepting these Terms is an important part of the registration
					process and You should carefully read these terms before
					registering an Account on the Website.</li>
				<li>You must keep Your Account password confidential.  You are
							responsible for any activities or transactions made using Your
							Account and We are not liable for any damage or loss which results
							from unauthorised access to Your Account.  You must immediately
							notify Us of any unauthorised access or use of Your Account of
							which become aware via the “Contact Us” section of the Site.</li>
				<li>Your Account is not transferable.</li>
				<li>Registering an Account and becoming a Registered Member is free.</li>
				<li>Only one Free Account is allowed per person. Multiple Free Accounts for any person may be terminated and deleted by ***** at any time.</li>
				<li>Only one Free Trail Business Account is allowed per person and/or organization. Multiple Free Trail Accounts for any person and/or organization may be terminated and deleted by ***** at any time.</li>
			</ol>



			<h3>5. Paid Members</h3>


			<ol class="star loweralpha">
				<li>
					To become a Paid Member, You must:
					<ol class="star">
						<li>be a Registered Member;</li>
						<li>review and accept any additional terms and conditions which apply
							specifically to Paid Members and are displayed during the Paid
							Member registration process or elsewhere on the Website; and</li>
						<li>pay any Fee(s) applicable to Your Paid Member tier.</li>
					</ol>
				</li>
				<li>Any terms and conditions which specifically relate to Paid Members
					will apply in addition to these Terms.</li>
				<li>To maintain Your status as a Paid Member You must pay any Fee as
					required by Us.  Failure to pay Fees within the required time may
					result in the forfeiture of Your Paid Member status and all related
					access and use privileges for the Website.</li>
			</ol>


			<h3>6. Member Services</h3>
			<ol class="star loweralpha">
				<li>We offer a limited discounted Fee for Services to Members that provide or are directly associated
					with Not-For-Profit educational services, with optional upgrades to extra Services
					(Educational Account). Instructors opening an Educational Account must not share the
					Educational Account with other Instructors.</li>
				<li>Members that are businesses or other For-Profit organisations or individuals are not eligible to
					open an Educational Account. </li>
				<li>We may change Our prices or institute new charges for any Services provided via the Website at
					any time.  Where you have a recurring subscription, all pricing changes will be notified to you
					and we will provide you time to cancel your recurring subscription. Where you are on a yearly
					plan and credit pack that is non-recurring, all pricing changes will be posted on the Website.
					You are solely responsible for regularly reviewing pricing information as posted from time to time.</li>
			</ol>


			<h3>7. Monthly Credits </h3>
			<ol class="star loweralpha">
				<li>Members who have purchased Professional Plans will have their Credit limit reset on a monthly
					basis during the Professional Plan Term. The Credit limit will be reset in each successive month
					on the same day of the month that the Professional Plan was purchased unless a purchase was made
					after the 28th of any month in which case credits will be reset on the 1st of each following month
					of the Professional Plan Term. For example, if a Professional Plan was purchased on the 25th
					calendar day of any given month, Credits will be reset on the 25th calendar of each following
					month of the Professional Plan Term. </li>
				<li>Members must purchase extra Credits if they wish to continue testing but exceed their monthly
					Credit limit of their purchased Professional Plan during any calendar month for the Professional
					Plan Term.</li>
			</ol>


			<h3>8. Refunds</h3>
			<ol class="star loweralpha">
				<li>To the maximum extent permitted by law, You will not be entitled to recover any Fees if Your
					Account is suspended or terminated in accordance with this Agreement.</li>
				<li>If You terminate Your Account and request a refund:
					<ol class="star">
						<li>We only agree to fully refund the total value of any Yearly Professional Plan You purchased
							if You request a refund within 30 days of purchase. No refunds of Yearly Professional Plans
							will be given otherwise.</li>
						<li>We only agree to fully refund the total value of the first month of any Professional Plan
							subscription (paid monthly) You purchased, if You request a refund within 30 days of purchase.
							No refunds of Monthly Professional Plan subscriptions will be given otherwise.</li>
						<li>We only agree to fully refund the total value of a Credit Pack if You have used less than
							20 Credits and You request the refund within 30 days of purchase.</li>
						<li>If a Paid Member uses more than 20 Credits in a Credit Pack, We agree to refund the value
							of the remaining Credits or unused Credits if such Paid Member requests the refund within
							30 days of purchase.</li>
					</ol>
				</li>
			</ol>


			<h3>9. Instructor</h3>
			<ol class="star loweralpha">
				<li>If You are an Instructor, You represent and warrant that:
					<ol class="star">
						<li>You are legally authorized to use and disclose Your Related Users' personal information
							when registering such Related Users via the Website.</li>
						<li>You shall ensure that all Related Users have read and agree to be bound by these Terms
							prior to using the Website or any portion thereof.</li>
						<li>You shall fully indemnify and hold Us harmless against any expenses, costs,
							loss (including consequential loss) or damage that We may suffer or incur as a result
							of or in connection with any action, claim or allegation bought against Us by a Related User
							arising, whether directly or indirectly, from any of Your acts or omissions.</li>
					</ol></li>
				<li>As part of Our Services, We may offer functionality which enables Instructors to sell
					Materials to their Related Users. Instructors will be able to set their own prices for any such
					Materials that they sell, but agree to pay Us a commission in the amount of ten percent (10%)
					on all sales completes through the Website. All such commissions will be due and payable
					immediately on completion of the sale and will be automatically deducted from fees paid by
					applicable Related Users for such Materials.</li>
			</ol>



			<h3>10. EU Residents</h3>
			<p>We Offer our Services and provide them on the Website to organisations (“Customers”) that wish to register
				their employees, students or agents, or provide them with pre-registered ID numbers, in order to use our
				Services (“Users”). Some of those Users may be EU residents. We process the personal data of Users who
				are EU residents on behalf of our Customers, pursuant to instructions issued by our Customers, and the
				terms of our agreements with them, including these Terms and Conditions as supplemented by Our Data Protection Addendum</p>







			<h3>11. Your Conduct</h3>
			<ol class="star loweralpha">
				<li>You must not:
					<ol class="star">
						<li>use the Website in breach of any applicable laws or regulations; </li>
						<li>solicit personal information (including name, email address, address, phone number, IP address, or any other information that could, directly or indirectly, identify a child) from a child under 13 years of age (16 for EU residents unless provided otherwise by applicable law);</li>
						<li>violate the privacy rights of any person, including but not limited to submitting personal information about a person without their consent (or their parent's consent in the case of a child under 13 years of age) (16 for EU residents unless provided otherwise by applicable law);</li>
						<li>use the Website (or Content obtained from the Website):
							<ol class="star loweralpha">
								<li>to transmit (or authorise the transmission of) "junk mail," "chain letters,"
									unsolicited emails, instant messaging, "spimming," or "spamming";</li>
								<li>to impersonate any person or entity; </li>
								<li>to solicit money, passwords or personal information from any person;</li>
								<li>to harm, abuse, harass, stalk, threaten or otherwise offend others; or</li>
								<li>for any unlawful purpose;</li>
							</ol>
						</li>
						<li>use the Website to upload, post, transmit or otherwise make available
							(or attempt to upload, post, transmit or otherwise make available) any Content that:
							<ol class="star loweralpha">
								<li>is not Your original work, or which in any way violates or infringes
									(or could reasonably be expected to violate or infringe) the Intellectual Property
									or other rights of another person;</li>
								<li>contains, promotes, or provides information about unlawful activities or conduct;</li>
								<li>is, or could reasonably be expected to be, defamatory, obscene, offensive,
									threatening, abusive, pornographic, vulgar, profane, indecent or otherwise unlawful,
									including Content that racially or religiously vilifies, incites violence or hatred,
									or is likely to offend, insult or humiliate others based on race, religion, ethnicity,
									gender, age, sexual orientation or any physical or mental disability;</li>
								<li>exploits another person in any manner;</li>
								<li>contains nudity, excessive violence, or sexual acts or references;</li>
								<li>includes an image or personal information of another person or persons unless
									You have their express written consent;</li>
								<li>poses or creates a privacy or security risk to any person;</li>
								<li>You know or suspect (or ought reasonably to have known or suspected) to be false,
									misleading or deceptive; contains viruses, worms, Trojan horses, spyware, malware
									or other computer codes, files or programs designed to interrupt, limit or destroy
									the functionality of other computer software or hardware;</li>
								<li>directly advertises, promotes or solicits any goods or services or commercial
									activities (except where permitted or authorised by Us);</li>
								<li>contains financial, legal, medical or other professional advice;</li>
								<li>interferes with, disrupt, or create an undue burden on the Website;</li>
								<li>use any robot, spider, or other device or process to retrieve, index, or in any way
									reproduce, modify or circumvent the navigational structure, security or presentation
									of the Website;</li>
								<li>use the Website with the assistance of any automated scripting tool or software;</li>
								<li>frame (except when embedding your exams in your website for Users to take) or
									mirror any part of the Website without Our prior written authorisation;</li>
								<li>use code or other devices containing any reference to the Website to direct other
									persons to any other web page;</li>
								<li>except to the extent expressly permitted by law, modify, adapt, sublicense,
									translate, sell, reverse engineer, decipher, decompile or otherwise disassemble
									any portion of the Website or cause any other person to do so; or</li>
								<li>delete any attributions or legal or proprietary notices on the Website.</li>
							</ol>
						</li>
					</ol>
				</li>
			</ol>




			<h3>12. Content</h3>
			<ol class="star loweralpha">
				<li>We derive Content from sources which We believe are accurate and up to date as of the time of
					publication and use reasonable commercial endeavours to update such Content, however, We do
					not make any representation or warranty as to the currency, reliability, accuracy or completeness
					of any Content provided via the Website.</li>
				<li>You indemnify and release Us from all liability for any claim or loss that directly or indirectly
					results from Your reliance on any Content provided on the Website.</li>
				<li>We may engage third parties to author, design or provide Content for inclusion in the Website.
					You acknowledge and agree that in relation to all the Website Content contributed by third parties:
					<ol class="star">
						<li>any views or opinions expressed in that Content are the views and opinions of that third
							party and not Ours; and</li>
						<li>despite any attribution of authorship or lack thereof, the responsibility and liability
							for ensuring the accuracy, legality, completeness and currency of Content lies exclusively
							with the third party who provided it.</li>
					</ol>
				</li>
			</ol>



			<h3>13. Tools</h3>
			<ol class="star loweralpha">
				<li>The Website may enable You to upload, post or submit Material using online Tools.</li>
				<li>You acknowledge and accept that when using Tools:
					<ol class="star">
						<li>the processing outputs generated by Tools are dependent on the accuracy and suitability
							of the data You provide and input into the Tool;</li>
						<li>any Tools provided on the Website utilise processes and calculations which are intended to
							have a general application and accordingly may not be suitable for Your specific
							requirements; and</li>
						<li>all Tools, and any output generated by Tools, are intended to provide guidance only and
							any reliance You place on the outputs and results generated by Tools is entirely at Your
							own risk.</li>
					</ol>
				</li>
				<li>All data and information You upload to a Tool will be handled in accordance with Our
					<a href="/online-testing/privacy/">Privacy Policy</a>.</li>
			</ol>




			<h3>14. Transactions</h3>
			<ol class="star loweralpha">
				<li>All Transactions in respect to the payment of Fees will be conducted via a third party's secure website.
					These Transactions are covered by these Terms and any additional third party terms or conditions.
					Please ensure that You have read the terms and conditions of the third party responsible for
					conducting the Transaction.</li>
				<li>By completing a Transaction, You agree to pay all amounts related to the Transaction including all
					taxes. We may suspend or terminate Your Account and/or access to the Website if Your offered
					payment method (e.g., credit card) cannot be processed.  By providing a payment method,
					You expressly authorize Us and/or Our third party payment processor to charge the applicable Fees
					to said payment method at regular intervals if required by Your particular Paid Membership and
					utilized Services.  You are liable for paying any and all applicable sales and use taxes.</li>
				<li>You acknowledge and accept that Transactions occurring through the Internet have inherent risks
					and We are not responsible for any unauthorised:
					<ol class="star">
						<li>interception, modification or diversion of a Transaction request or delivery of a Tool;</li>
						<li>access or copying of details relating to a Transaction
							(including personal or financial information); or</li>
						<li>failure to deliver a Tool, where that failure is not directly caused by Our deliberate actions.</li>
					</ol>
				</li>
				<li>We reserve the right to modify, suspend, reject or cancel any Transaction for any reason.</li>
			</ol>




			<h3>15. Communications from Us</h3>
			<p>All Direct Communications from Us to You will be in accordance with Our
				<a href="/online-testing/privacy/">Privacy Policy</a>.
				If You are not resident in the EU, You expressly consent and agree to accept and receive electronic
				communications from Us, including via e-mail, text message, calls,
				and push notifications to Your mobile device to inform you of updates and changes to the Services.
				These electronic communications are part of Your
				relationship with Us.  Unless otherwise prescribed by law, You agree that any notices, agreements,
				disclosures or other communications that We send You via email will satisfy any legal communication
				requirements, including that such communications be in writing. Standard carrier data charges may
				apply to Your use of certain Services and/or use of text messaging and You are solely responsible
				for such charges.</p>




			<h3>16. Material</h3>
			<ol class="star loweralpha">
				<li>You may submit, upload, add or post Material to the Website for the purpose of designing and
					creating tests and exams for Users or in the case of Users taking test.</li>
				<li>At the time of submitting Material to the Website, You grant Us a non-exclusive, irrevocable,
					royalty free and worldwide right to use and deal with Your Material for the purpose of designing
					tests for You to give to Users and Related Users for the duration that Your Account is open.</li>
				<li>At the time of submitting Material to the Website, You grant Users and Members a perpetual,
					non-exclusive, irrevocable, royalty free and worldwide right to use and deal with Your Material
					that You have authorised to be shared with Users and Members for the purpose of taking tests.</li>
				<li>We do not retain ownership in any Material provided by You.</li>
				<li>By uploading, transmitting, posting or otherwise making available any Material via the Website, You:
					<ol class="star">
						<li>warrant that You have the right to grant the above mentioned licences referred to in this clause 15.</li>
						<li>warrant that any Material does not infringe any third party's Intellectual Property;</li>
						<li>warrant that the Material does not breach the Terms; and</li>
						<li>unconditionally waive all moral rights (as defined by the Australian Copyright Act 1968 (Cth))
							which You may have in respect of the Material.</li>
					</ol>
				</li>
				<li>Any Material that You do not want to share with other Members or Users, must not be set to
					'Shared' on the Website. All Material are set as 'Private' by default and not shared.</li>
				<li>Materials that are set to be shared with other Members or Users will stay on the Website
					unless We remove it in accordance with these Terms.</li>
				<li>We reserve the right, at Our absolute discretion, to remove any Material at any time.</li>
				<li>We reserve the right (but have no obligation) to:
					<ol class="star">
						<li>review, modify, reformat, reject or remove any Material which You upload, post,
							transmit or otherwise make available (or attempt to upload, post, transmit or otherwise
							make available) that, in Our opinion, violates the Terms or otherwise has the potential
							to harm, endanger or violate the rights of any person; and</li>
						<li>monitor use of the Website, and store or disclose any information that We collect,
							including in order to investigate compliance with the Terms or for the purposes
							of any police investigation or governmental request.</li>
					</ol>
				</li>
				<li>We are not responsible for, and accept no liability with respect to, any Material uploaded, posted,
					transmitted or otherwise made available on the Website by any person other than Us. For the
					avoidance of doubt, We will not be taken to have uploaded, posted, transmitted or otherwise made
					Material available on the Website simply by facilitating others to post, transmit or other make
					Material available. Furthermore, We do not endorse any opinion, advice or statement made by any
					person other than Us.</li>
				<li>If You send or transmit any communications, comments, questions, suggestions, or related materials
					to Us, whether by letter, email, telephone, or otherwise (collectively, “Feedback”), suggesting or
					recommending changes to the Website or any Services, Materials or Tools offered through the Website,
					including, without limitation, new features or functionality relating thereto, all such Feedback is,
					and will be treated as, non-confidential and non-proprietary.  You hereby assign all right, title,
					and interest in, and We are free to use, without any attribution or compensation to You, any ideas,
					know-how, concepts, techniques, or other Intellectual Property and proprietary rights contained in
					the Feedback, whether or not patentable, for any purpose whatsoever, including but not limited to,
					developing, manufacturing, having manufactured, licensing, marketing, and selling, directly or
					indirectly, products and services using such Feedback.  You understand and agree that We are not
					obligated to use, display, reproduce, or distribute any such ideas, know-how, concepts, or
					techniques contained in the Feedback, and You have no right to compel such use, display,
					reproduction, or distribution. </li>
				<li>Closing Your Account
					<ol class="star">
						<li>Instructors may close their Account and/ or its Registered User Accounts at any time
							by following the "Close Account Instructions" found on your My Account Page of our Website.
						Closing will result in deletion of all data in the Account, including Material.</li>
						<li>Subject to the above, Related Users do not have a "Close Account" option. Instructors can Close Related Users' accounts at any time. Closing will result in deletion of all data in the Related Users' Accounts.</li>
						<li>Any Instructors Account will have all their Registered User Accounts and all Test Results under their account deleted after two – three years' inactivity (that is, without any log in).</li>
						<li>When an Instructor's Account is deleted, its Registered User Accounts will also be deleted.</li>
					</ol>
				</li>
			</ol>




			<h3>17. Suspension and Termination</h3>
			<ol class="star loweralpha">
				<li>We reserve the right, without notice to You and at Our complete discretion, to suspend,
					terminate or refuse to register Your Account, if We believe You:
					<ol class="star">
						<li>have breached any part of these Terms;</li>
						<li>are likely to breach any part of these Terms;</li>
						<li>fail to pay a Fee;</li>
						<li>have acted against Our business interests or reputation; or</li>
						<li>are using the Website in such a way as to cause issues for other users of the Website. </li>
					</ol>
				</li>
				<li>You will not be entitled to recover any Fees if Your Account is closed in accordance with this clause 16.</li>
			</ol>




			<h3>18. Intellectual Property</h3>
			<ol class="star loweralpha">
				<li>By accessing and using the Website, You acknowledge and agree:
					<ol class="star">
						<li>We either are the licensee of or own all right, title and interest in the
							Intellectual Property utilised by or embodied in the Website and You will not hinder,
							impede, invalidate or challenge Our ownership or right to use or register any part of
							such Intellectual Property in any way, or do any act which may diminish the value of
							such Intellectual Property;</li>
						<li>any use, downloading, copying, adaption, modification, communication or reproduction of
							any part of Website or the Intellectual Property utilised by or embodied in the Website
							is strictly prohibited unless necessary for and incidental to Your access and use of Website; and</li>
						<li>You must not otherwise copy, upload, communicate, modify, transmit, reproduce, distribute
							or in any way exploit any of the Website, the Content, the Services, or any
							Intellectual Property therein or thereto.</li>
					</ol>
				</li>
				<li>Certain software, including open source software, and other Content provided or available through
					the Website may be stated to be subject to special or additional rules or conditions which will
					form part of these Terms.</li>
			</ol>



			<h3>19. Modifying, updating, suspending and terminating the Website</h3>
			<ol class="star loweralpha">
				<li>While We use reasonable endeavours to ensure that the Website is available continuously,
					We do not make any representations or warranties that Your access will be uninterrupted, timely,
					secure or error free. Your access to the Website or to your Account may be suspended without notice in the case of
					system failure, maintenance or repair or any reason beyond Our control. </li>
				<li>We reserve the right to modify or update the Website (including any Content, Tools or Services
					offered via the Website) or suspend or terminate access to the Website or any part of the Website
					at any time and at Our absolute discretion, without notice or liability to You.</li>
				<li>We may change these Terms at any time by posting the updated Terms on the Website and, if You
					have registered for an Account, by notifying You via email.  Any change or modification to the
					Website or these Terms is effective immediately upon them being posted on the Website. If any
					such change or modification is unacceptable to You, You must not use the Website. If following
					any such change or modification You continue to use the Website or any part thereof, then You
					will be deemed to have accepted those changes or modifications; if You do not agree with any of
					the updated Terms, You must stop using the Website.</li>
				<li>We will notify any affected Registered Member without undue delay in the event we learn of a
					personal data breach involving such Registered Member's Account. </li>
			</ol>



			<h3>20. Advertising and Hyperlinks</h3>
			<ol class="star loweralpha">
				<li>We may feature or display third party advertising. By featuring or displaying such advertising,
					We do not in any way represent that We recommend or endorse the relevant advertiser, its products or services.</li>
				<li>If You contact a third party using functionality provided on the Website, including via e-mail,
					We do not accept any responsibility for any communications or transactions between You and the relevant third party. </li>
				<li>We have no control over and are not responsible for the content of any third-party:
					<ol class="star">
						<li>site for which a hyperlink is provided or displayed on the Website;</li>
						<li>site framed within the Website; or</li>
						<li>advertisements displayed on the Website.</li>
					</ol>
				</li>
				<li>We expressly disclaim (and do not endorse or verify) the accuracy or reliability of content on third-party websites.</li>
				<li>Hyperlinks are provided on the Website for Your convenience only and may not be current or operational.
					Our use or inclusion of a hyperlink on the Website is not an endorsement, approval or recommendation
					of the linked website or its content.</li>
				<li>We are not responsible for the content or privacy practices associated with third-party websites and
					accessing these sites You should read their terms, conditions and privacy statements.  Your use of
					or reliance on any third-party website is at Your own risk absolutely.</li>
			</ol>





			<h3>21. Back-Up; Data Deletion</h3>
			<ol class="star loweralpha">
				<li>We will make every reasonable effort to protect and backup data for Registered Members on a regular
					basis, however, We do not guarantee the existence, accuracy, or regularity of Our backup services
					and, therefore, Members are solely responsible for independent backup of data stored on the Website
					in relation to that Member's Account.</li>
				<li>If You choose to delete Your Materials, testing data or the data of Your Related Users, You are
					solely responsible for ensuring that such data is properly backed-up prior to deletion.  We are
					not responsible for any Materials or data that are lost as a result of Your voluntary deletion.</li>
				<li>Test takers may request that their testing data be deleted by Us.  Upon receipt of such request,
					We will provide the applicable Instructor with ten (10) business days to export and/or backup such
					data before We delete it.</li>
				<li>Related Users may request that their testing data be deleted by Us. Upon receipt of such request,
					the applicable Instructor may decide to export and/or backup such data. Within ten (10) business days
					of the Related Users request, the data will be automatically deleted.</li>
			</ol>



			<h3>22. Disclaimer</h3>
			<ol class="star loweralpha">
				<li>To the maximum extent permitted by law, the Website and all Content on the Website is provided
					on an "as-is, as-available" basis, and We exclude and disclaim to the maximum extent permitted
					by law all guarantees, conditions, warranties or terms of any kind, either express, implied or
					statutory, in nature. Further, We explicitly disclaim the following:
				<br>
					ALL CONTENT, TOOLS OR OTHER DATA ON THE WEBSITE IS PROVIDED AS
					<span class="underline">GENERAL GUIDANCE ONLY</span> AND SHOULD
					NOT BE USED FOR ANY SPECIFIC PURPOSE OR IN SUBSTITUTION FOR SPECIALISED INDEPENDENT ADVICE.
				</li>
				<li>If You have a question or concern about the appropriateness or application of anything on the
					Website You must seek advice from a relevantly qualified business consultant.</li>
				<li>We make no representation and give no warranty or undertaking (express or implied) as to the
					currency, accuracy, completeness, effectiveness or reliability of the Website or Content for
					any particular purpose or specific business or that the Website can be used in relation to any
					business in substitution for proper specialised independent advice.</li>
				<li>We disclaim any and all responsibility or liability for any loss, damage, injury or other claim
					whatsoever for any outcome arising from Your reliance upon the Website or the Website's inability
					to meet Your needs.</li>
				<li>The use of and Your reliance upon the Website is entirely at Your own risk. When using Website
					information will be transmitted over a medium which may be beyond Our jurisdiction or control.
					Information and files available from the Website cannot be guaranteed to be secure, free from
					computer viruses or other faults or defects and You should scan and check such data accordingly.
					We do not warrant and cannot ensure the security of any Material or Content You may transmit to the Website.</li>
				<li>We will not be responsible for any delay, failure, interruption, or corruption of any data or
					other information transmitted in connection with use of the Website which is beyond Our direct control.
					For the avoidance of doubt We do not accept responsibility for any interference or damage to
					Your computer system which may arise in connection with Your use of the Website.</li>
			</ol>



			<h3>22. Liability</h3>
			<ol class="star loweralpha">
				<li>To the fullest extent permitted by law:
					<ol class="star">
						<li>ALL GUARANTEES, CONDITIONS AND WARRANTIES CONCERNING THE WEBSITE (WHETHER AS TO QUALITY,
							OUTCOME, FITNESS, CARE, SKILL OR OTHERWISE) EXPRESSED OR IMPLIED BY STATUTE, COMMON LAW,
							EQUITY, TRADE, CUSTOM OR USAGE OR OTHERWISE ARE EXPRESSLY EXCLUDED AND IN RESPECT OF THOSE
							GUARANTEES, CONDITIONS, WARRANTIES OR TERMS WHICH CANNOT BE EXCLUDED BY LAW BUT WHICH CAN
							BE LIMITED BY LAW,  OUR LIABILITY TO YOU IS LIMITED TO THOSE APPLICABLE REMEDIES CONTAINED
							IN THE AUSTRALIAN CONSUMER LAW (CTH) AND WHICH ARE SET OUT IN PARAGRAPH (b).  YOU AGREE
							THAT SUCH REMEDIES ARE YOUR ONLY REMEDY IN RESPECT OF SUCH GUARANTEES, CONDITIONS,
							WARRANTIES OR TERMS; </li>
						<li>IN NO EVENT WILL WE, OUR OFFICERS, EMPLOYEES, AGENTS, CONTRACTORS, LICENSORS, SUPPLIERS,
							OR ANY OTHER THIRD PARTIES MENTIONED ON THE WEBSITE BE LIABLE FOR ANY LOSS, COSTS OR
							DAMAGES (INCLUDING, WITHOUT LIMITATION, ECONOMIC OR CONSEQUENTIAL LOSS, LOST PROFITS
							OR SPECIAL DAMAGES) RESULTING FROM THE USE OF OR INABILITY TO USE THE WEBSITE, WHETHER
							ARISING UNDER STATUTE OR IN CONTRACT, TORT OR ANY OTHER LEGAL DOCTRINE, AND WHETHER OR NOT
							WE ARE OR OUGHT TO HAVE BEEN AWARE OF, OR ADVISED OF THE POSSIBILITY OF SUCH LOSS, COSTS
							OR DAMAGES;</li>
						<li>WE ARE NOT LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY PERSONAL INJURY, INCLUDING DEATH,
							CAUSED BY ACCESS TO, USE OR MISUSE OF THE WEBSITE; AND</li>
						<li>REMEDIES UNDER THESE TERMS ARE EXCLUSIVE AND ARE LIMITED TO THOSE EXPRESSLY PROVIDED FOR
							IN THESE TERMS.</li>
					</ol>
				</li>
				<li>To the fullest extent permitted by law, to the extent that Our liability for breach of any
					implied warranty or condition cannot be excluded by law, Our liability will be limited  to:
					<ol class="star">
						<li>in the case of services supplied or offered by Us:
							<ol class="star loweralpha">
								<li>the re-supply of those services; or</li>
								<li>the payment of the cost of having those services re-supplied; and</li>
							</ol>
						</li>
						<li>in the case of goods supplied or offered by Us:
							<ol class="star loweralpha">
								<li>the replacement of the goods or the supply of equivalent goods;</li>
								<li>the repair of the goods;</li>
								<li>the payment of the cost of having the goods replaced; or</li>
								<li>the payment of the cost of having the goods repaired.</li>
							</ol>
						</li>
					</ol>
				</li>
				<li>In relation to any express warranty or condition set out in the Terms in connection with
					goods or services supplied or offered by Us via the Website, Our liability to You will be limited
					to the amount(s) paid by You (if any) in respect of those goods or services.</li>
			</ol>




			<h3>23. Indemnity</h3>
			<ol class="star loweralpha">
				<li>You agree to fully indemnify and hold Us harmless against any expenses, costs,
					loss (including consequential loss) or damage that We may suffer or incur as a result of or in
					connection with Your use of, access to or conduct in connection with the Website including any
					breach by You of the Terms.</li>
			</ol>



			<h3>24. General</h3>
			<ol class="star loweralpha">
				<li>To the extent that any part of these Terms are invalid, unenforceable, illegal, void or voidable
					for any reason, then these Terms will be construed and be binding as if the invalid, unenforceable,
					illegal, void or voidable part had been deleted from them or read down to the extent necessary
					to overcome the difficulty.</li>
				<li>Our waiver of any breach or a failure to enforce or to insist on the observance of a condition of
					these Terms will not be a waiver of any other or of any subsequent breach.</li>
				<li>We will not be responsible or liable for failure to perform any obligation under these Terms if
					such failure is caused by the occurrence of any matter beyond its reasonable control including,
					without limitation, industrial disputes, internet and communications outages, fire, flood, war,
					explosion, accident or act of God.</li>
				<li>These Terms are governed by and construed in accordance with the law of the State of
					New South Wales and the Commonwealth of Australia, and You irrevocably submit to the
					jurisdiction of the courts of that State and of the Commonwealth of Australia.
					The United Nations Convention on Contracts for the International Sale of Goods and any
					laws based on the Uniform Computer Information Transactions Act (UCITA) shall not apply to these Terms.</li>
			</ol>
<div class="clearheight"></div>
<h3>United States of America Federal Agencies</h3>
<p>Use by U.S.A. federal agencies will follow the <a href="/online-testing/terms/usa-federal-agencies/">Amended terms found here</a>.</p>

<div class="clearheight"></div>
<h3>Privacy</h3>
<p>View our <a href="/online-testing/privacy/">Privacy</a> page.</p>
<div class="clearheight"></div>
		</div>
	</div>
</div>