					<form action="/a/users/group/resetGroupPassword.rpc.php" method="post" class="genericPostForm" id="usedForIeResubmit_resetAllPasswords">
						<input type="hidden" name="rg_id" value="<%=G._id%>">
						<div class="field-group">
							<label class="form-field-title">Notify Users:</label>
							<input type="radio" name="sendemail" value="1" id="notify1">
							<label for="notify1">Yes</label>
							<input type="radio" name="sendemail" value="0" id="notify0" checked="checked">
							<label for="notify0">No</label>
						</div>
						<div class="field-group" id="dotoggroup_05_password">
							<div class="alert-box alert-default editor tab">
								<p>This option allows you to select a common password for all Group Members.</p>
								<p>An Email notification will not be sent to Group Members.</p>
							</div>
							<label class="form-field-title" for="newpass">New password:</label> 
							<input maxlength="72" id="newpass" type="text" name="grouppassword" class="showTooltipHTML" title="Password must be at least 8 characters long.<br/>Maximum password length is 72 characters.<br/>Password must contain at least:<br/>1 Number<br/>1 Letter"> 
						</div>
						<div class="field-group hide" id="dotoggroup_05_emailresetpassword">
							<div class="alert-box alert-default editor tab">
								<p>This option will send an email to each Group Member who has an email address registered with their account.</p>
								<p>The Reset password email includes: Their <strong>Username</strong> and a <strong>Unique Reset password link</strong> to reset their password.</p>
								<p>For security, "Reset password links" will expire 24 hours after they have been sent. <span class="showTooltip tooltip" title="Members without Group access will not be Emailed.">Tip</span></p>
							</div>
						</div>
						<div class="tab">
							<div id="customMsg_grouppassword" class="tab"></div>
						</div>
						<p><input type="submit" class="genericSubmitLink btn btn-create tab" value="Send Reset Password Emails"></p>
						<div class="clearheight"></div>
					</form>