<%-include("../../questions/new/newHeader")%>
<link rel="stylesheet" type="text/css" href="/stylesheets/quiz.css" media="screen">
<body>
	<div class="row">
		<div class="col-span-7"><h2 class="member-name name">1 1</h2></div>
		<div class="col-span-3"><p><a href="#" class="close close-generic-overlay"></a></p></div>
	</div>
	<div class="col-span-4">
		<div class="aside-message editor">
			<h5>Manage Users' Groups</h5>
			<p>Add or remove this user from your Groups.</p>
			<p>Note: A user must always be registered in at least one Group.</p>
		</div>
	</div>
	<div class="col-span-2">&nbsp;</div>
	<div class="col-span-4">
		<div class="aside-message editor  li-delete-user">
			<h5><i class="fa fa-trash" aria-hidden="true"></i> Delete User</h5>
			<ul>
				<li>Delete this User</li>
				<li>Delete all saved results for this User <span class="showTooltip tooltip" title="Any unsent Test result emails cannot be sent to deleted users.">Tip</span></li>
			</ul>
			<p>Deleting is permanent: <a href="/a/users/group/delete/deleteSingleUser.php?rg_id=592380&amp;user_id=8858096&amp;token=RGQMYTNG" class="checkDelete">Delete now</a>.</p>
		</div>
	</div>
	<div class="table">
 	<ul class="table-body hover-row"> 
		<li class="row">
			<div class="col-span-6">
				<h2 class="group-name name">0</h2>
			</div>
			<div class="col-span-4  col-btns" id="g_id592380div">
				<form class="removeUserFromGroupForm" action="/a/users/transfer/removeUserFromGroup.rpc.php" method="post">
					<input name="rg_id" value="592380" type="hidden">
					<input name="user_id" value="8858096" type="hidden">
					<input name="token" value="RGQMYTNG" type="hidden">
					<a href="#" id="tog_removewarning592380" class="showcont">Remove User from this Group</a>
					<div class="hide text-left editor" id="dotog_removewarning592380">
						<hr>
						<h4 class="red">Warning!</h4>
						<p>Removing this user from this Group will PERMANENTLY DELETE any Test results they have saved under this Group.</p>
						<p>If you want to keep existing Test results, you can:</p>
						<ul>
							<li>Make this user Inactive in this Group to stop access. <a href="/a/help/manual/#addmembersintro" class="popup">View Help.</a></li>
							<li>Or, <a href="/a/results/export/">Export</a> Tests results for this Group to keep an offline copy.</li>
						</ul>
						<hr>
						<a href="#" class="genericSubmitLink btn ">Delete Results and Remove User from this Group</a>
						</div>
					</form>
				</div>
			</li>
 			<li class="row">
				<div class="col-span-6">
					<h2 class="group-name name">1st exam</h2>
				</div>
				<div class="col-span-4  col-btns" id="g_id573553div"><form class="addUserToGroupForm" action="/a/users/transfer/addUserToGroup.rpc.php" method="post">
					<input name="rg_id" value="573553" type="hidden">
					<input name="user_id" value="8858096" type="hidden">
					<input name="token" value="RGQMYTNG" type="hidden">
					<a href="#" class="genericSubmitLink btn btn-results">Add To Group</a>
					</form>
				</div>
			</li>
 			<li class="row">
				<div class="col-span-6">
					<h2 class="group-name name">G1</h2>
				</div>
				<div class="col-span-4  col-btns" id="g_id591943div"><form class="addUserToGroupForm" action="/a/users/transfer/addUserToGroup.rpc.php" method="post">
					<input name="rg_id" value="591943" type="hidden">
					<input name="user_id" value="8858096" type="hidden">
					<input name="token" value="RGQMYTNG" type="hidden">
					<a href="#" class="genericSubmitLink btn btn-results">Add To Group</a>
					</form>
				</div>
			</li>
		</ul>
	</div>
	
	<script>
$(document).ready(function() {
	/* Remove user from group */
	$('.addUserToGroupForm').ajaxForm({
		dataType: 'json',
		cache: false,
		beforeSerialize: beforeSerializeGenericAllForms,
		success: transferUserResponse,
		beforeSend: beforeTransferUserToGroupForm,
		error: genericError
	});
	/* Remove user from group */
	$('.removeUserFromGroupForm').ajaxForm({
		dataType: 'json',
		cache: false,
		beforeSerialize: beforeSerializeGenericAllForms,
		success: transferUserResponse,
		beforeSend: beforeSendremoveUserFromGroupForm,
		error: genericError
	});
});
</script>

</body>