<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.12.1.custom.min.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/cm.css?v=264" media="screen">
<link rel="stylesheet" type="text/css" href="/stylesheets/quiz.css?v=264" media="screen">
<!-- <link rel="stylesheet" type="text/css" href="https://www.classmarker.com/css3/quiz.css?v=264" media="screen"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/cmbbcode.css?v=277" media="screen">
<!-- <link rel="stylesheet" type="text/css" href="https://www.classmarker.com/css3/cmbbcode.css?v=264" media="screen"> -->
<link href="/stylesheets/featherlight.css" type="text/css" rel="stylesheet">
<!-- <link href="https://www.classmarker.com/js3/featherlight/featherlight.css" type="text/css" rel="stylesheet"> -->

<script>
	var web_root = "/";
	var webpath_img = "/img3/";
	var s3_assets_path = "https://";
	var maxSize = {"image": 512000 , "document": 5242880, "video": 5242880, "audio": 2097152};
	// var webpath_admin = "/a/";
	// var webpath_admin = "https://webdev-tmhgc.run-eu-central1.goorm.io/";
	var webpath_admin = "https://a1a2a3.run-eu-central1.goorm.io/";
	var BBCODE_CSS = "/stylesheets/bbcode/jquery.sceditor.default.min.css";
</script>

<!-- <script src="https://www.classmarker.com/js3/jquery-1.9.1.min.js"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- <script src="https://www.classmarker.com/js3/jquery-ui-1.12.1.min.js"></script> -->
<script src="/js/jquery-ui-1.12.1.min.js"></script>
<!-- <script src="https://www.classmarker.com/js3/xbbcode.js?vs=210"></script> -->
<script src="/js/xbbcode.js?vs=217"></script>
<!-- <script src="https://www.classmarker.com/js3/featherlight/featherlight.js?v=210"></script> -->
<script src="/js/featherlight.js?vs=217"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://www.classmarker.com/css3/bbcode/bbcode.css?v=274" media="screen"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/bbcode/bbcode.css?v=274" media="screen">
<!-- <script src="https://www.classmarker.com/js3/bbcode/sceditor.custom.js?v=213"></script> -->
<script src="/js/sceditor.custom.js?v=213"></script>
<!-- <script src="https://www.classmarker.com/js3/cm_inst_editquestions.js?v=210"></script> -->
<script src="/js/cm_inst_editquestions.js?v=210"></script>
<!-- <script src="https://www.classmarker.com/js3/generic.overlay.js?v=210"></script> -->
<script src="/js/generic.overlay.js?v=210"></script>
<!-- <script src="https://www.classmarker.com/js3/cm_inst.js?v=210"></script> -->
<script src="/js/cm_inst.js?v=213"></script>
<!-- <script src="https://www.classmarker.com/js3/cmall.js?v=210"></script> -->
<script src="/js/cmall.js?v=210"></script>
<!-- <script src="https://www.classmarker.com/js3/bbcode/vendor/jquery.sceditor.bbcode.js?v=210"></script> -->
<script src="/js/jquery.sceditor.bbcode.js?v=210"></script>
<!-- <script src="https://www.classmarker.com/js3/jquery.form.js?v=210"></script> -->
<script src="/js/jquery.form.js?v=210"></script>

<!-- <script src="https://www.classmarker.com/js3/minicolors/jquery.minicolors.js?v=210"></script> -->
<script src="/js/jquery.minicolors.js?vs=217"></script>

<!-- <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/791178814/?random=1597724718941&amp;cv=9&amp;fst=1597724718941&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=768&amp;u_w=1366&amp;u_ah=768&amp;u_aw=1366&amp;u_cd=24&amp;u_his=8&amp;u_tz=270&amp;u_java=false&amp;u_nplug=1&amp;u_nmime=2&amp;gtm=2oa871&amp;sendb=1&amp;ig=0&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.classmarker.com%2Fa%2Ftests%2Fqb%2Fmanage%2F%3Fqtype%3Dmcsa&amp;ref=https%3A%2F%2Fwww.classmarker.com%2Fa%2Ftests%2Fqb%2F%3Fall%3D1&amp;tiba=ClassMarker%20-%20Manage%20Question&amp;hn=www.google.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script> -->


<!-- <link rel="stylesheet" type="text/css" href="https://www.classmarker.com/js3/minicolors/jquery.minicolors.css?v=264" media="screen"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.minicolors.css?v=277" media="screen">

<!-- <link rel="stylesheet" media="print" type="text/css" href="https://www.classmarker.com/css3/cmprint.css"> -->
<link rel="stylesheet" media="print" type="text/css" href="/stylesheets/cmprint.css">

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


<!-- Ad Section -->
<!-- <script type="text/javascript" async="" src="https://www.google.com/pagead/conversion_async.js"></script>
<script async="" src="//www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-791178814"></script>  -->
<!-- <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-791178814'); </script> -->

	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" media="all" href="/css3/ie8.css?v=277"/>
	<script>
		var isMSIE8 = 1;
		audio_video_warning = '<div class="sceditor-ignore alert-box error">Please upgrade your browser to view audio or video.</div>';
	</script>
	<![endif]-->
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/css3/ie.css?v=277"/>
	<![endif]-->

<!-- <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/791178814/?random=1605415429633&amp;cv=9&amp;fst=1605415429633&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=768&amp;u_w=1366&amp;u_ah=768&amp;u_aw=1366&amp;u_cd=24&amp;u_his=4&amp;u_tz=210&amp;u_java=false&amp;u_nplug=1&amp;u_nmime=2&amp;gtm=2oab41&amp;sendb=1&amp;ig=0&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.classmarker.com%2Fa%2Fresults%2Ftests%2Ftest%2Frgusers%2F%3Ftest_id%3D1479449%26rg_id%3D592380%26return%3Dt&amp;ref=https%3A%2F%2Fwww.classmarker.com%2Fa%2Ftests%2F&amp;tiba=ClassMarker%20-%20Group%20Test%20results&amp;hn=www.google.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script> -->