<ul class="question_type_selector_links">
	<li class="qt_icon selected" style='width:auto'>
		<a href="#" id="edit_mc" class="no_anchor">
			<img class="qt_icon_multiplechoice_grey qt_hide" src="/img3/icon-multiplechoice-grey.png" srcset="/img3/icon-multiplechoice-grey.png 1x, /img3/icon-multiplechoice-grey_3x.png 2x" alt="" width="35" height="22">
			<img class="qt_icon_multiplechoice_red" src="/img3/icon-multiplechoice-red.png" srcset="/img3/icon-multiplechoice-red.png 1x, /img3/icon-multiplechoice-red_3x.png 2x" alt="" width="35" height="22">
			<div class="qt_multiplechoice_caption qt_color_red">
				Multiple Choice
			</div>
		</a>
	</li>

	<li class="qt_icon">
		<a href="#" id="edit_tf" class="no_anchor">
			<img class="qt_icon_truefalse_grey" src="/img3/icon-truefalse-grey.png" srcset="/img3/icon-truefalse-grey.png 1x, /img3/icon-truefalse-grey_3x.png 2x" alt="" width="28" height="13">
			<img class="qt_icon_truefalse_red qt_hide" src="/img3/icon-truefalse-red.png" srcset="/img3/icon-truefalse-red.png 1x, /img3/icon-truefalse-red_3x.png 2x" alt="" width="28" height="13">
			<div class="qt_truefalse_caption">
				True False
			</div>
		</a>
	</li>

	<li class="qt_icon">
		<a href="#" id="edit_m" class="no_anchor">
			<img class="qt_icon_matching_grey" src="/img3/icon-matching-grey.png" srcset="/img3/icon-matching-grey.png 1x, /img3/icon-matching-grey_3x.png 2x" alt="" width="23" height="19">
			<img class="qt_icon_matching_red qt_hide" src="/img3/icon-matching-red.png" srcset="/img3/icon-matching-red.png 1x, /img3/icon-matching-red_3x.png 2x" alt="" width="23" height="19">
			<div class="qt_matching_caption">Matching</div>
		</a>
	</li>

	<li class="qt_icon">
		<a href="#" id="edit_ft" class="no_anchor">
			<img class="qt_icon_freetext_grey" src="/img3/icon-freetext-grey.png" srcset="/img3/icon-freetext-grey.png 1x, /img3/icon-freetext-grey_3x.png 2x" alt="" width="35" height="21">
			<img class="qt_icon_freetext_red qt_hide" src="/img3/icon-freetext-red.png" srcset="/img3/icon-freetext-red.png 1x, /img3/icon-freetext-red_3x.png 2x" alt="" width="35" height="21">
			<div class="qt_freetext_caption">Free Text</div>
		</a>
	</li>

	<li class="qt_icon">
		<a href="#" id="edit_p" class="no_anchor">
			<img class="qt_icon_grammar_grey" src="/img3/icon-grammar-grey.png" srcset="/img3/icon-grammar-grey.png 1x, /img3/icon-grammar-grey_3x.png 2x" alt="" width="23" height="21">
			<img class="qt_icon_grammar_red qt_hide" src="/img3/icon-grammar-red.png" srcset="/img3/icon-grammar-red.png 1x, /img3/icon-grammar-red_3x.png 2x" alt="" width="23" height="21">
			<div class="qt_grammar_caption">Grammar</div>
		</a>
	</li>

	<li class="qt_icon">
		<a href="#" id="edit_e" class="no_anchor">
			<img class="qt_icon_essay_grey" src="/img3/icon-essay-grey.png" srcset="/img3/icon-essay-grey.png 1x, /img3/icon-essay-grey_3x.png 2x" alt="" width="21" height="17">
			<img class="qt_icon_essay_red qt_hide" src="/img3/icon-essay-red.png" srcset="/img3/icon-essay-red.png 1x, /img3/icon-essay-red_3x.png 2x" alt="" width="21" height="17">
			<div class="qt_essay_caption">Essay</div>
		</a>
	</li>
</ul>